{% extends "subpage.html" %}
{% block subpage_content %}
<h1>Bike</h1>

<p>Bike sekcija, poznatija pod
    <strong>bike@KSET</strong>, je društvance koje uživa vožnjama biciklima, a što drugo, ne? Pa, volimo mi i planine, vrhove, šume, prijevoje, adrenalin, alat, visoki puls, blato, korijenje, kamenje, dobro jesti..i KSET!</p>
<p>Počeli smo još 2006te...i od tad se događalo puno toga:
    <strong>hrpa izleta</strong>,
    <strong>vožnji</strong>,
    <strong>utrka</strong>,
    <strong>druženja/žurki</strong>,
    <strong>uspona i padova</strong>(ovo dvoje doslovno shvatite :D)... sve u svemu odlični provodi i kvalitetno potrošeni vikendi, praznici, ljeta ,zime...</p>
<p>Ako vam se sviđa što ste do sad pročitali, fali Vam ekipe za pedaliranje i biciklizam Vas zanima sve više... e pa onda ste na dobrom putu čitajući ovaj tekst!
    <strong>Pridružite nam se i dobivate</strong>:</p>
<ul>
    <li>vožnje po okolici Zagreba, najčešće Sljeme no i drugi krajevi, pa i po udaljenim gorama</li>
    <li>kroz vožnje vrijedno sakupljanje bodova i zasluženi potpis iz tjelesnog</li>
    <li>saznati sve bitno o biciklima/izmu, dobiti savjete za sve što vas zanima ili muci</li>
    <li>na raspolaganju kvalitetni specijalizirani alat za bicikle (cca 40 komada) i maziva</li>
    <li>druženja, roštilji, dežurstva u KSET-u... aktivno sudjelovanje u klubu koji Vam može puno pružiti</li>
    <li>počastiti se na kraju ak. god. ljetovanjem u Alpama s nezaboravnim vožnjama!</li>
    <li>možete krenuti na utrke (pa i trenirati), par članova su iskusni natjecatelji HR MTB Kupa!</li>
    <li>prošetat gojze tu i tamo, u slučaju puno snijega ili čisto promjene radi</li>
</ul>
<p>Moglo bi se reći da smo orijentirani na brdski biciklizam, no ako se bavite drugim tipom biciklizma, svejedno se javite, nismo ograničeni. Nađe se tu i pokoja specka, DH zwer pa i jako dobar trialas! Ima i djevojaka, led je probijen već!
    <em>;-)</em>
</p>
<p>Postoji i <a title="galerija" href="http://bybude.com/bike@kset/gallery2/main.php">galerija</a>, tu i tamo updejtana, te naravno i <a title="forum" href="http://bike.kset.org/forum">forum</a> (samo za članove).</p>
<p>Sve dodatne
    <strong>informacije</strong>možete dobiti na mail: bike@kset.org!
    <br />Ako se zelite uclaniti, javite nam se na mail!</p>

{% endblock subpage_content %}