{% extends "subpage.html" %}
{% block subpage_content %}

<h1>Računarska</h1>

<p>Računarska sekcija KSET-a
    <strong>već 15+ godina</strong> održava i unapređuje računalnu infrastrukturu KSET-a te u suradnji s CARNetom putem live stream-a prenosi sva kulturna događanja u organizaciji KSET-a. Pri realizaciji svojih projekata sekcija se koristi otvorenim i besplatnim tehnologijama.</p>
<p>
    <strong>Neki od najzahtjevnijih psihičkih i fizičkih poslova kojima se bavimo:</strong>
    <br />
    <br />* Svi mogući (i nemogući) Linux sysadmin poslovi (ponekad i neki drugi OS-evi)
    <br />* održavanje i nadogradnja računalne mreže u KSET-u
    <br />* programiranje u svim mogućim programskim jezicima
    <br />* konfiguriranje svih (ne)zamislivih deamona/servisa
    <br />* stream-anje (u suradnji sa CARNet-om)
    <br />* pružanje besplatnog web hosting-a (i mail-a) studentskim udrugama
    <br />* wirelessiranje
    <br />* krimpanje UTP-a svih dužina (po standardu!)
    <br />* održavanje web stranica KSET-a
    <br />* održavanje tečaja za nadobudne studente
    <br />* održavanje dviju vještina na faksu
    <br />* itd. itd. itd.</p>

<p>Sekcija broji oko 30ak članova/ica, skoro pa toliko računala pogonjenih GNU/Linuxom (Debianom, Ubuntu), *BSD-om i Windowsima, zatim par kilometara UTP-a,
<br />nekoliko switcheva, impozantni RACK...</p>

<p>Ukoliko vam ijedan od navedenih pojmova izaziva smiješak na licu i pritom se želite dobro zabaviti te nešto novo naučiti, a k tome ste još i student(ica) slobodno nam se pridružite. Uvijek smo u potrazi za novim, perspektivnim članovima sa širokim poljem tehničkih interesa i željom za radom u sekcijskoj atmosferi(tm) pa ako ste student i pronalazite se u gornjem opisu
<strong>dođite na sastanak petkom u 14h ili se javite mailom trenutnom voditelju sekcije.</strong>
</p>


{% endblock subpage_content %}