{% extends "subpage.html" %}

{% block subpage_content %}
<h1>Disco</h1>

<p>Ako zavirite malo dublje u prostore KSET-a naći ćete
    <strong>šarenilom oslikani prostor Disco sekcije</strong>. Iz njega dopiru zvuci koji članovima ispunjavaju uši najraznolikijim oblicima glazbe. Ali sekcija nisu samo miksete, gramofoni i razglas. Disco je skupina ljudi kojima je glazba način života.</p>
<p>Bavimo se puštanjem glazbe na
    <strong>dnevnim terminima</strong> svaki dan od 9 do 16 dok vi ispijate kavu u omiljenom nam klubu.
    <strong>Zajamčena ugodna atmosfera</strong> u dnevnim pauzama od predavanja.</p>
<p>
    <strong>Organiziramo slušaonice</strong> u nastojanju da dovedemo nešto novo i pomalo divlje u svakodnevni život s glazbom koju inače nemate prilike čuti u gradu. Neki od uspješnih programa su: Indirektum, Novi Rock, Crnjak, Habeebee Beat, Ksetronika, Radiohead. Uz redovite termine srijedom moguće je neke od ovih programa vidjeti i subotom. Iz težnji članova sekcije proizašli su i subotnji plesni programi
    <strong>Jabbaton</strong> i
    <strong>Demode</strong>.</p>
<p>
    <strong>KSET Caffe</strong> kao vrlo uspješni klupski disco program održava se petkom i na njemu se možete zabaviti i rasplesati do mile volje. Punimo vaše uši veselim notama i podižemo raspoloženje nakon teškog dana.</p>
<p>
    <strong>KSET karaoke</strong> kao vrlo uspješan i posjećeni disco sadržaj omogućuje vam da pokažete svoje pjevačko i zabavljačko umijeće drugima, a organizira se svaka dva mjeseca s raznim pomno osmišljenim tematskim nazivima i pravilima odijevanja.</p>
<p>Ako ste od onih kojima nijedan dan nije potpun bez glazbe, koji unaprijed znaju pjesme na radiju, uhvatite li se da slažete liste pjesama u glavi ili se jednostavno želite družiti sa skupinom veselih ljudi kojima je glazba mnogo više od popratnog sadržaja, prijavite se na prijamni ispit Disco sekcije. On se održava u listopadu svake godine i pruža vam šansu da se priključite skupini mladih ljudi koji osmišljavaju nove glazbene projekte i surađuju s drugim sekcijama na cjelokupnom KSET-ovom programu. Pridružite se našoj disco obitelji i pustite da glazbe prožme i vaš život.</p>
<p><strong>Diskodisko i vidimo se u KSET-u :)</strong></p>
<p>
    <strong>
        <img src="{{ STATIC_URL }}frontend/images/divisions/disco_plakat_manji_semibig.jpg" alt="" />
    </strong>
</p>

{% endblock subpage_content %}