{% extends "subpage.html" %}
{% block subpage_content %}
<h1>Glazbena</h1>

<p>Glazbena sekcija KSET-a brine o realizaciji koncertnog programa, konkretno tehničkoj produkciji. Stage hand iskustvo stvoreno u sekciji mnogi članovi kasnije su iskoristili na većim pozornicama.
U Glazbenoj možete naučiti osnove inženjeringa zvuka i obrade zvučnog signala na osobnim računalima. Iskustvo stvoreno na ovom području dovelo je neke KSET-ove ton majstore u suradnju s popularnim sastavima zabavne glazbe (Zabranjeno Pušenje).
Jedan od bitnijih projekata sekcije je <strong>Čuješ?!</strong>, koncertni program koji ugošćuje i predstavlja mlade nedovoljno poznate izvođače. </p>

<p>Glavne obaveze glazbene sekcije su:
    <ul>
        <li>kompletna audio produkcija koncerata</li>
        <li>održavanje glazbene opreme</li>
        <li>sviranje u bendu</li>
        <li>lighting i VJ-ing</li>
        <li>booking and promotion</li>
    </ul>
</p><br />

<h2>KOMPLETNA AUDIO PRODUKCIJA</h2>

<p>Članovi glazbene sekcije prolaze sve korake u audio produkciji koncerta. Primarno članovi uče slaganje stage-a, poziciju opreme i kabliranje. Članovi se podučavaju kompletnoj glazbenoj opremi (instrumenti, kablovi, mikrofoni) odnosno objašnjavaju
im se prednosti i mane svakog od elemenata postavljanja stage-a. Samo neke od znanja koje usvajaju su razlike u mikrofonima, zašto svaki mikrofon ima svoju funkciju, čemu služi diferencirani signal, što je to compressor/gate/eq, što je skretnica
što je DI, razlika TS-a i TRS-a...</p>

<p>Nakon što članovi nauče složiti stage prije benda nudi im se prilika korištenja profesionalnog klubskog razglasa u smislu toniranja i snimanja koncerta. To je jako vrijedna oprema i ne postoji drugo mjesto osim KSET-a i glazbene sekcije gdje se može slobodno koristiti i vježbati na KSET-ovom razglasu. Velika većina najboljih hrvatskih tonaca je potekla upravo iz KSET-a jer im je pružio dovoljno praktičnog rada što je zapravo za tu svrhu krucijalno. Osim samog live miksanja članovi se mogu baviti i audio miksanjem snimki koje imamo priliku snimati uživo. Članove se uči kako razni signali utječu na snimku, kako spojit zvučne kartice, sinkronizirati ih, paziti na kvalitetu zvuka i na kraju krajeva dobiveni audio smiksati. To je također dosta bitna stavka koju članovi mogu naučiti pošto nemaju priliku snimit audio materijal koji bi mogli kasnije miksati. KSET nudi tu mogućnost. Dosta članova je tu mogućnost iskoristilo da se nauči te su se kasnije nastavili baviti time.</p><br />


<h2>ODRŽAVANJE GLAZBENE OPREME</h2>

<p>Da bi članovi mogli usvojiti sva znanja o opremi ona mora biti funkcionalna. Veliki dio vremena se ulaže u održavanje opreme
pošto nemamo novaca za novu. Članovi uče popravljati mikrofone (membrane), pojačala (lampe, potovi, jack ulazi), 
skretnice (transformatori, otpornici), monitore (driveri, skretnice), miksete (kanali, slideri, potovi),  bubnjevi (kože, drvo). Uz to članovi besprijekorno nauče lemiti pošto bez funkcionalnih kablova ne možemo odrađivati produkciju koncerta. Uz standardne
kablove, ovisno o potrebi, članovi sastavljaju razno razne hibridne kablove potrebne u našem poslu. Osim popravaka članovi uče i proizvodnju razno raznih pedala, switch-eva, pojačala, skretnica, kutija.</p><br />


<h2>SVIRANJE U BENDU</h2>

<p>Kakva bi to glazbena bila da nema benda imena Zaudarači. Mnogi naši članovi dolaze u skeciju isključivo u potrazi za dobrim bendom i druženjem s drugim glazbenicima. Uzevši u obzir da se sviraone za vježbu plaćaju, a oprema je skupa, članovi mogu vježbati u KSET-u djeliti glazbena iskustva i znanja s drugim članovima te se na taj način glazbeno usavršiti. Ukoliko se pokaže potreba članove podučavamo i pjevanju kroz našu školicu pjevanja. </p><br />


<h2>LIGHTING I VJ-ing</h2>

<p>Članove koji iskažu želju za bavljenjem lightom tome i podučavamo. Kao i s toniranjem radi se o jako vrijednoj opremi na kojoj, osim KSET-a, ne postoji mjesto za vježbanje. Ne postoje niti ikakve škole za učenje lightanja tako da mnogi naši članovi kasnije nađu zaposlenje baveći se lightanjem za neku firmu. Članovi uče kako složiti light, način spajanja lighta, razlike različitih uređaja, njihove prednosti i mane, rad na profesionalnoj konzoli u profesionalnom programu. Osim općih znanja o lightu, članovi usvajaju i određena specifična znanja koja dolaze kroz bavljenje lightanjem poput ponašanja uređaja u specifičnom prostoru ili detekcija kvara i popravak...</p>

<p>Od nedavno smo članove počeli učiti i VJ-ingu kao jednoj novoj vrsti vizualne produkcije koncerta. Članovi uče koristiti specijalizirane software za ovu djelatnost te im se prenose iskustvena znanja ostalih VJ-a koji se duže bave ovim oblikom osvjetljavanja. </p><br />

<h2>BOOKING AND PROMOTION</h2>

<p>Članovi koji se zbilja istaknu svojim trudom dobivaju priliku baviti se organizacijom evenata u KSET-u, uglavnom koncerta pošto je to obaveza glazbene sekcije. Bavljenje organizacijom koncerata je jedna od najbitnijih stavki KSET-a pošto su koncerti ono što nam nosi popularnost i što nas čini živim klubom. Članovi koji se upuste u organizaciju stječu izuzetne organizacijske i komunikacijske vještine te imaju priliku biti jedni od nositelja kulturnog programa u Hrvatskoj. </p>

{% endblock subpage_content %}