{% extends "subpage.html" %}
{% block subpage_content %}
<h1>Glazbena</h1>

<p>
    <strong>Glazbena sekcija</strong> KSET-a brine o
    <strong>realizaciji koncertnog programa</strong>, konkretno
    <strong>tehničkoj produkciji</strong>. Stage hand iskustvo stvoreno u sekciji mnogi članovi kasnije su iskoristili na većim pozornicama. U Glazbenoj možete naučiti
    <strong>osnove inženjeringa zvuka</strong> i
    <strong>obrade zvučnog signala</strong> na osobnim računalima. Iskustvo stvoreno na ovom području dovelo je neke KSET-ove
    <strong>ton majstore</strong> u suradnju s popularnim sastavima zabavne glazbe (Zabranjeno Pušenje).</p>
<p>Godišnje sekcija organizira
    <strong>tečaj lighta</strong> koji objedinjuje
    <strong>umjetnost svijetla i koncertne atmosfere</strong>. Jedan od bitnijih projekata sekcije je
    <strong>Demonstrator</strong>, koncertni program koji već dugi niz godina gošćuje i predstavlja
    <strong>mlade neafirmirane glazbene sastave</strong>. Također, redovito organiziramo druženje članova uz tzv. "
    <strong>Zaudaranje</strong>" - temin kad glazbena pali amosferu u klubu, koje odjekuje kao najveći retail investor u klupsko-sekcijski odnos.</p>

{% endblock subpage_content %}