{% extends "subpage.html" %}

{% block subpage_content %}

<h1>Pijandure</h1>

<p>
<strong>P.I.J.A.N.D.U.R.E.</strong> - planinarsko izletničko junačko antialkoholičarsko nenad...mašno društvo uvjetno rečeno elektrotehničara.</p>

<p>U davno doba, prije pronalaska mobitela, gps-a, aparata za karoake, igračih konzola i španjolskih sapunica, grupa revolucionarnih studenata tadašnjeg ETF-a odlučila je hrabro koračati kroz divljine, suočiti se s opasnošću boravka planinarskim stazama i domovima bez grijanja.</p>

<strong>Svjetski elektroplaninarski rally!</strong>
</p>

<p>Žrtvu da organiziraju ovaj prekrasan događaj na sebe je, naravno, preuzela planinarska sekcija KSET-a. Kasnijim razvojem događaja, u trenutku inspiracije članova, planinarska sekcija je dobila i svoj poznati, često krivo tumačen akronim; P.I.J.A.N.D.U.R.E. (tj. planinarsko izletničko junačko antialkoholičarsko nenad...mašno društvo uvjetno rečeno elektrotehničara). Kroz povijest uspjeli su bez značajnijih žrtava organizirati
<strong>34 Rallya</strong>.</p>

<p>U novije vrijeme sekcija organizira i
    <strong>PowerTrip</strong>. To je projekt, osmišljen kao prilika mladim mozgovima u razvoju, da uživo vide različite elektrane i sve ostalo što nam se nađe na putu u ta dva dana. Cilj Powertripa je uživo vidjeti elektrane u Hrvatskoj, saznati sve o njima i provesti jednu mirnu i spokojnu noć u nekom od Hrvatskih gradova. U dugoj tradiciji već smo održali dva. U slobodno vrijeme članovi planinarske sekcije povremeno posjete poneku planinu ili brdo, upoznaju lokalne običaje, provode noći pod zvjezdanim nebom uz vatru kontemplirajući o ljepoti prirode i života. Dok nas KSET ne natjera da za godišnju skupštinu održavamo roštilj pod izgovorom da ionako ništa drugo ne radimo. A mi povremeno i studiramo.</p>

{% endblock subpage_content %}