{% extends "subpage.html" %}
{% load i18n %}
{% block subpage_content %}

{# Translators: Pijandure #}
<h1>{% trans "pi-title" %}</h1>

{# Translators: <p>Davne 1976. godine, vremena tako daleko da valjda još nije ni struje bilo, a kamo li čega naprednijeg, sastaje se grupica od dvadesetak ljudi željnih planine i druženja, te osniva planinarski aktiv, vođeni željom da se udalje od buke grada i odmore dušu u šumama i na beskrajnim poljima… </p>
	<p>Nedugo nakon toga, sekcija dobiva današnje ime - <strong> Planinarsko Izletničko Junačko Antialkoholičarsko Nenad...mašno Društvo Uvjetno Rečeno Elektrotehničara </strong> - P.I.J.A.N.D.U.R.E. Sve je počelo jednostavnim izletom na Sljeme jedne nedjelje, a nastavilo se u sekciju kakvu znamo danas. </p>

	<p>
	Jedna od glavnih zadaća sekcije, a koju zaista treba ozbiljno shvatiti, je sistematsko uništavanje neprijatelja – alkohola i dobre hrane. Organiziramo <strong> Elektroplaninarski rally, roštilje, planinarsku školicu, kampiranja, izlete...</strong> Izleti! Idemo na puno izleta, i to posvuda, samo hrabro u nepoznato i u nove pustolovine! Ništa nije kao onaj osjećaj kada uživaš u miru i tišini, uz super ljude oko sebe, na nekoj planini, u nekoj šumi, na nekoj livadi... </p>

	<p>
	Organiziraju se i kratki i duži izleti, kao i <strong> kampiranje </strong> na Mrežnici ljeti, Planinarska školica uglavnom krajem veljače, roštilji, druženja, što god nam padne na pamet kao dobra ideja! Ako ništa drugo, uvijek možete računati na neko poznato sekcijsko lice da vas razveseli kada tužni i umorni od života i faksa dođete u KSET. Sve se to radi na osnovi ljubavi, samo ljubavi, prema izletima, ljudima, druženju, sekciji i Klubu. Sekcija uključuje studente s raznoraznih fakulteta, ne samo FER-a, pa iako nam nisu zajednički fakulteti, kao ni svi interesi, dijelimo želju za ugodnim druženjem i planinarenjem i to je ono što ovu sekciju drži na okupu već dugi niz godina. </p>

	<p>
	Ako te zanima ova predivna, prijateljska sekcija, ako voliš prirodu i planinarenje, ako imaš ukusa za pivu i klopu, pridruži nam se! Za sve informacije se možeš obratiti voditelju sekcije na mail ili jednostavno doći petkom oko 17h u KSET, kada sekcija ima sastanak, i iz prve ruke se upoznati s ljudima i radom sekcije. </p>
	<p>
	Tl;dr volimo pojesti, popiti, vidjeti neko brdo i družiti se sa super ljudima, a ti možeš s nama.
	</p>
	#}
<p>{% trans "pi-desc" %}</p>
{% endblock subpage_content %}
