{% load i18n %}
<table border="0">
    <tbody>
        <tr>
            <td><strong>{% trans "club" %}:</strong></td>
        <td><a href="mailto:eda.jovicic@kset.org">Eda Jovičić</a></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td><strong>{% trans "bike-title" %}:</strong></td>
            <td><a href="mailto:mihael.nosil@kset.org">Mihael Nosil</a></td>
        </tr>
        <tr>
            <td><strong>{% trans "disco-title" %}:</strong></td>
        <td>
            <a href="mailto:nikola.gersak@kset.org">Nikola Geršak</a>
            <br>
            <a href="mailto:valentino.zinic-hadzija@kset.org">Valentino Žinić</a>
        </td>
        </tr>
        <tr>
            <td><strong>{% trans "drama-title" %}:</strong></td>
            <td><a href="mailto:filip.fijan@kset.org">Filip Fijan</a></td>
        </tr>
        <tr>
            <td><strong>{% trans "foto-title" %}:</strong></td>
            <td><a href="mailto:mladen.petr@kset.org">Mladen Petr</a></td>
        </tr>
        <tr>
            <td><strong>{% trans "music-title" %}:</strong></td>
            <td><a href="mailto:anton.premec@kset.org">Anton Premec</a></td>
        </tr>
        <tr>
            <td><strong>{% trans "pi-title" %}:</strong></td>
            <td><a href="mailto:dominik.zanic@kset.org">Dominik Žanić</a></td>
        </tr>
        <tr>
            <td><strong>{% trans "comp" %}:</strong></td>
            <td><a href="mailto:leonard.volaric.horvat@kset.org">Leonard Volarić Horvat</a></td>
        </tr>
        <tr>
            <td><strong>{% trans "tech-title" %}:</strong></td>
            <td><a href="mailto:fran.kostelac@kset.org">Fran Kostelac</a></td>
        </tr>
        <tr>
            <td><strong>{% trans "video-title" %}:</strong></td>
            <td><a href="mailto:luka.erdeljac@kset.org">Luka Erdeljac</a></td>
        </tr>
        <tr>
            <td><strong>{% trans "program-contact" %}:</strong></td>
            <td><a href="mailto:booking@kset.org">Booking</a></td>
        </tr>
        <tr>
            <td><strong>Press:</strong></td>
            <td><a href="mailto:press@kset.org">Press</a></td>
        </tr>
    </tbody>
</table>
