/* We use this to get basic styling on all basic form elements */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
	-webkit-appearance: none;
	background-color: white;
	font-family: inherit;
	border: 1px solid #cccccc;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	color: rgba(0, 0, 0, 0.75);
	display: block;
	font-size: 0.875rem;
	margin: 0 0 1rem 0;
	padding: 0.5rem;
	height: 2.3125rem;
	max-width: 100%;
	width: 300px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
	-moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
	transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
textarea:focus {
    -webkit-box-shadow: 0 0 5px #999999;
    -moz-box-shadow: 0 0 5px #999999;
    box-shadow: 0 0 5px #999999;
    border-color: #999999;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
textarea:focus {
    background: #fafafa;
    border-color: #999999;
    outline: none;
}


select {
  -webkit-appearance: none !important;
  background: #fafafa url("data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iM3B4IiB2aWV3Qm94PSIwIDAgNiAzIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA2IDMiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIHBvaW50cz0iNS45OTIsMCAyLjk5MiwzIC0wLjAwOCwwICIvPjwvc3ZnPg==") no-repeat;
  background-position-x: 97%;
  background-position-y: center;
  border: 1px solid #cccccc;
  padding: 0.5rem;
  font-size: 0.875rem;
  -webkit-border-radius: 0;
  border-radius: 0;
	width: 100%;
}
  select.radius {
    -webkit-border-radius: 3px;
    border-radius: 3px; }
  select:hover {
    background: #f3f3f3 url("data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iM3B4IiB2aWV3Qm94PSIwIDAgNiAzIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA2IDMiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIHBvaW50cz0iNS45OTIsMCAyLjk5MiwzIC0wLjAwOCwwICIvPjwvc3ZnPg==") no-repeat;
    background-position-x: 97%;
    background-position-y: center;
    border-color: #999999;
 }


table,
fieldset {
	border: solid 1px #dddddd;
	padding: 0.75rem;
	margin: 1.125rem 0;
}
fieldset legend {
    font-weight: bold;
    background: white;
    padding: 0 0.1875rem;
    margin: 0;
    margin-left: -0.1875rem;
}

table {
	width: 100%;
	padding: 0;
	border-bottom: none;
}

table tr:hover {
	background: #f5f5f5;
}

table td {
	vertical-align: middle;
	padding: 5px;
	border-bottom: 1px solid #ddd;
}
.icononly {
	padding: 5px;
	display: block;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	color: #E48145;
}

.icononly:hover {
	color: #000;
	text-decoration: none;
}

/* CUSTOM STYLES */

label {
	padding-bottom: 5px;
}

input[type="submit"],
.button {
	padding: 10px 20px;
	text-transform: uppercase;
	font-family: 'Roboto Slab', sans-serif;
	background: #eee;
	cursor: pointer;
}
input[type="submit"]:hover,
.button:hover {
	background: #ddd;
}

.main {
	font-size: 14px;
}

#members-main
{
	padding: 20px;

}

.members-leftContent, .members-rightContent, .members-middleContent {
	width:20%;
	float: left;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.members-middleContent {
	width: 60%;
	padding: 0 25px;
}

.member-group {
    font-size: 12px;
    text-transform: lowercase;
}

#members-main .top .image
{
    padding-bottom: 10px;
}

#members-main .top img {
	max-width: 100%;
}

#members-main .top .basic-info
{
	font-family: 'roboto slab', sans-serif;
	font-size: 30px;
	font-weight: bold;
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

#members-main .top .basic-info .nickname
{
	font-weight: normal;
	font-size: 14px;
}

#members-main  .bottom .bottom-item
{
	margin-bottom: 20px;
}

#members-main .entry-title
{
	font-size: 18px;
	font-family: 'Roboto Slab', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.members-list h1 {
	text-align: center;
	text-transform: uppercase;
}

.members-list-item {
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
}

.members-list-item a {
	display: inline-block;
	color: #111;
	padding-bottom: 2px;
	padding: 3px 10px;
}

.members-list-item a:hover {

	background: #E48145;
	color: #fff;
	text-decoration: none;
}

/*
 ===================================================
 right content
 ===================================================
*/
.members-menu ul
{
	list-style: none;
	margin: 0px;
	padding: 0px;
	text-align: right;
	text-transform: uppercase;
}

.members-menu ul li
{
	padding: 0px;
}

.members-menu a {
	color: #000;
	display: inline-block;
	padding: 3px 10px;
	margin: 5px 0;
	border-right: 2px solid #E48145;
}

.members-menu a:hover {
	background: #E48145;
	color: #fff;
	text-decoration: none;
}

.qq-upload-button {
    background: #E48145 !important;
    font-weight: bold;
}

.qq-upload-list *,
.qq-upload-list {
    list-style: none;
    padding: 0;
    margin: 0 !important;
}

.qq-upload-drop-area {
    background: #F1A569 !important;
    font-weight: bold !important;
}

.qq-upload-file {
    display: block;
    padding: 4px 0;
    font-weight: bold;
}
