@charset "UTF-8";


@font-face {
  font-family: '13204804';
  src: url('../fonts/13204804.eot?91699305');
  src: url('../fonts/13204804.eot?91699305#iefix') format('embedded-opentype'),
       url('../fonts/13204804.woff?91699305') format('woff'),
       url('../fonts/13204804.ttf?91699305') format('truetype'),
       url('../fonts/13204804.svg?91699305#13204804') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: '13204804';
    src: url('../font/13204804.svg?91699305#13204804') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "13204804";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-search:before { content: '\e813'; } /* '' */
.icon-right-open:before { content: '\e814'; } /* '' */
.icon-camera:before { content: '\e810'; } /* '' */
.icon-tags:before { content: '\e800'; } /* '' */
.icon-left-open:before { content: '\e812'; } /* '' */
.icon-align-left:before { content: '\e808'; } /* '' */
.icon-terminal:before { content: '\e815'; } /* '' */
.icon-youtube-play:before { content: '\e801'; } /* '' */
.icon-menu:before { content: '\e80f'; } /* '' */
.icon-chat:before { content: '\e802'; } /* '' */
.icon-newspaper:before { content: '\e803'; } /* '' */
.icon-picture:before { content: '\e811'; } /* '' */
.icon-article:before { content: '\e804'; } /* '' */
.icon-calendar-inv:before { content: '\e805'; } /* '' */
.icon-sun-inv:before { content: '\e807'; } /* '' */
.icon-moon-inv:before { content: '\e806'; } /* '' */
.icon-calendar:before { content: '\e809'; } /* '' */
.icon-facebook-rect:before { content: '\e80b'; } /* '' */
.icon-twitter-bird:before { content: '\e80c'; } /* '' */
.icon-github:before { content: '\e80d'; } /* '' */
.icon-lastfm:before { content: '\e80e'; } /* '' */
.icon-rss:before { content: '\e80a'; } /* '' */
/* PERFECT SCROLLBAR */

.ps-container .ps-scrollbar-x-rail {
    display: none;
}

.ps-container .ps-scrollbar-y-rail {
    position: absolute; /* please don't change 'position' */
    right: 0; /* there must be 'right' for ps-scrollbar-y-rail */
    width: 14px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    opacity: 0;
    filter: alpha(opacity = 0);
    -o-transition: background-color .2s linear, opacity .2s linear;
    -webkit-transition: background-color.2s linear, opacity .2s linear;
    -moz-transition: background-color .2s linear, opacity .2s linear;
    transition: background-color .2s linear, opacity .2s linear;
}

.ps-container:hover .ps-scrollbar-y-rail {
    opacity: 0.6;
    filter: alpha(opacity = 60);
}

.ps-scrollbar-y-rail.in-scrolling {
    opacity: 0.9;
    filter: alpha(opacity = 90);
}

.ps-scrollbar-y {
    position: absolute; /* please don't change 'position' */
    right: 0; /* there must be 'right' for ps-scrollbar-y */
    width: 8px;
    background-color: #333;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -o-transition: background-color .2s linear, width .2s linear;
    -webkit-transition: background-color .2s linear, width .2s linear;
    -moz-transition: background-color .2s linear, width .2s linear;
    transition: background-color .2s linear, width .2s linear;
}

.ps-container .ps-scrollbar-y-rail:hover .ps-scrollbar-y,
.ps-container .ps-scrollbar-y-rail.hover .ps-scrollbar-y {
    background-color: #999;
    width: 14px;
}


/* SITE STYLES */

body
{
    font-family: 'Open Sans', 'Droid Sans', Verdana,sans-serif,arial;
    margin: 0;
    font-size: 14px;
    background: #111 url(../images/bg.png);/*
    background-image: -webkit-linear-gradient(to bottom,rgba(0,0,0,0.6) 0,  rgba(69,72,77,0.3) 100%),url(../images/bg.png);
    background-image: -moz-linear-gradient(to bottom,rgba(0,0,0,0.6) 0,  rgba(69,72,77,0.3) 100%),url(../images/bg.png);
    background-image: -o-linear-gradient(to bottom,rgba(0,0,0,0.6) 0,  rgba(69,72,77,0.3) 100%),url(../images/bg.png);
    background-image: -ms-linear-gradient(to bottom,rgba(0,0,0,0.6) 0,  rgba(69,72,77,0.3) 100%),url(../images/bg.png);
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.6) 0,  rgba(69,72,77,0.3) 100%),url(../images/bg.png);*/
    height: 100%;
}

::selection {
    background: rgba(254, 121, 41, 0.7);
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    width: auto;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

.hide {
    display: none;
}

td
{
    vertical-align: top;
}

a
{
    color: #F37F39; /* old: #c06833;*/
    text-decoration: none;
}

ul
{
    list-style-image: url('sqpurple.gif');
}

img
{
    max-width: 100%;
    border: 0px;
}

input
{
    background: #E5E5E5;
    border: 1px solid #aaa;
    margin: 0px;
    outline: none;
    -webkit-transition: all 0.2s;
       -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
         -o-transition: all 0.2s;
            transition: all 0.2s;
}

input:hover, input:focus {
    border-color: #E48145;
    background-color: #FFF;
}

.vsep
{
    clear: both;
}


a:hover
{
    text-decoration: underline;
}

.page-container
{
    background: #000;
    max-width: 980px;
    margin: 30px auto 40px;
    padding: 5px 1px 2px;
    border-top-left-radius: 30px;
    box-shadow: 0 0 0 10px rgba(0,0,0,0.3);
    /*
    box-shadow: 0 0 250px -30px rgba(200,200,200,0.3);
    */
}

.orange
{
    color: #E48145;
}

.footer
{
    font-size: 12px;
    padding: 5px 0;
    text-align: center;
    color: #bbb;
    background: #000;
}

/* --- HEADER ------------------------------------------------------ */

.page-header
{
    position: relative;
    height: 300px;
    letter-spacing: 0;
    overflow: hidden;
    padding: 0 10px;

}

.header-pic {
    position: absolute;
    top: 5px;
    left: 0px;
    border-radius: 20px 0 0 0;
}

.logo
{
    float:left;
    margin: 10px;
    position: relative;
    z-index:2;
}

/* SOCIAL STUFF */

.header-social-links {
    font-size: 24px;
    position: absolute;
    top: 5px;
    right: 47%;
    line-height: 24px;
    width: 50px;
    z-index: 100;
}

.header-social-links a {
    margin-bottom: 9px;
    padding: 5px;
    display: block;
    color: #666;
    line-height: 22px;
    min-width: 28px;
    height: 18px;
    text-align: center;
    border-radius: 5px;
    text-shadow: 0 0 5px black;
    background: rgba(33,33,33,0.0);

    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    -ms-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
}

.header-social-links a:hover {
    text-decoration: none;
    color: #fff;
    /*background: rgba(255,255,255,0.2);*/
    text-shadow: 0 0 6px #eee, 0 0 2px black;
}


/* SCROLL */

.header-scroll
{
    position: relative;
    float: right;
    width: 450px;
    height: 285px;
    margin-top: 5px;
    margin-right: 0;
    max-width: 48%;
    overflow: hidden;
    border-left: 1px dotted #444;
}
/*
#header-scroll:hover {
    z-index: 150;
}
*/
.header-scrollbar {
    position: absolute;
    top:0;
    right: 0px;
    width: 2px;
    background: rgba(255,255,255,0);
    height: 100%;
    z-index: 100;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.header-scroll:hover .header-scrollbar {
    background: rgba(255,255,255,0.5);
}

.header-scroll-viewport {
    position: relative;
    overflow-x: hidden;
}


.header-scroll-viewport-empty:before {
    position: absolute;
    content: '☹';
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    color: #111;
    font-size: 200px;
}

.header-scroll .item
{
    display: block;
    font-size: 17px;
    color: #ddd;
    padding: 2px 0 2px;
    border-bottom: 1px solid #000;
    position: relative;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
}

.header-scroll .item:hover {
    background: #171717;
    border-bottom: 1px solid #803d15;
    text-decoration: none;
}

.no-csstransforms .header-scroll .item:hover {
    margin-left: 50px;
}

.header-scroll .item:hover {
    -webkit-transform: translate3d(50px, 0, 0);
    -moz-transform: translate3d(50px, 0, 0);
    -ms-transform: translate3d(50px, 0, 0);
    -o-transform: translate3d(50px, 0, 0);
    transform: translate3d(50px, 0, 0);
}

.scroll-today {
    display: block;
    position: absolute;
    z-index: 85;
    top: -28px;
    margin-left: -5px;
    background-color: #F16F18;
    color: #000;
    font-size: 12px;
    padding: 0 3px;
    text-shadow: 0 1px 0 rgba(0,0,0,0.1);
    box-shadow: 0 1px 1px rgba(0,0,0,0.7);
    -webkit-border-radius: 1px;
            border-radius: 1px;
    -webkit-transform: translate( 3px, 42px) rotate(-25deg);
       -moz-transform: translate( 3px, 42px) rotate(-25deg);
        -ms-transform: translate( 3px, 42px) rotate(-25deg);
         -o-transform: translate( 3px, 42px) rotate(-25deg);
            transform: translate( 3px, 42px) rotate(-25deg);
}

.scroll-thumb {
    position: absolute;
    top: 0 ;
    height: 47px;
    border-bottom: 1px solid #803d15;
    border-radius: 3px  0 0 0;
    width: 47px;
    opacity: 1;
    left: -47px;
    background: #171717;
}

.header-scroll .item-top-title
{
    color: #ddd;
    text-decoration: none;
    display: inline-block;
    width: 86%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.header-scroll .item:hover .item-top-title
{
    color: #fff;
}

.header-scroll .item-top
{
    height: 25px;
    overflow: hidden;
    white-space: nowrap;
}

.header-scroll .item-top .date
{
    font-weight: bold;
    width: 50px;
    height: 22px;
    text-align: left;
    padding-left: 7px;
    display: inline-block;
    vertical-align: top;
}

.item-top .date small {
    font-size: 10px;
    color: #666;
    margin-right: -4px;
}

.header-scroll .item-bottom
{
    height: 18px;
    font-size: 12px;
    color: #777;
}



.header-scroll .item-bottom .date
{
    float: left;
    width: 36px;
    padding-right: 18px;
    padding-left: 7px;
    white-space: nowrap;
}

.header-scroll-control {
    display: none;
}


/* TOP MENU */

.page-nav
{
    position: absolute;
    bottom: 0;
    left: 0;
    line-height: 40px;
    font-size: 16px;
    font-weight: bold;
    background: #000;
    background: rgba(0,0,0,0.6);
    max-width: 53%;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
}

.page-nav a
{
    color: #eee;
    padding: 3px 6px 6px;
    text-decoration: none;
    vertical-align: middle;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.page-nav a:hover
{
    color: #fe7929;
    text-decoration: none;
}

.top-menu-prompt
{
    color: #fe7929;
    margin-left: 10px;
    display: inline;

      -webkit-animation: promt-blink 1s ease-out 0s infinite reverse;
         -moz-animation: promt-blink 1s ease-out 0s infinite reverse;
           -o-animation: promt-blink 1s ease-out 0s infinite reverse;
              animation: promt-blink 1s ease-out 0s infinite reverse;
}


@-webkit-keyframes promt-blink {
    from {
        background-color: transparent;
    } to {
        background-color: #fe7929;
    }
}

@-moz-keyframes promt-blink {
    from {
        background-color: transparent;
    } to {
        background-color: #fe7929;
    }
}

@-o-keyframes promt-blink {
    from {
        background-color: transparent;
    } to {
        background-color: #fe7929;
    }
}

@keyframes promt-blink {
    from {
        background-color: transparent;
    } to {
        background-color: #fe7929;
    }
}

/* --- CONTENT ----------------------------------------------------- */

.main
{
    position: relative;
    background: #ffffff;
    font-size: 12px;
    color: #111;
    padding: 0;
    border-bottom: 2px solid #FE7929;
    border-top: 2px solid #FE7929;
}

.left-column p {
    margin: 0 0 0.6em;
    line-height: 22px;
    font-size: 15px;
    text-shadow: 0 1px 2px rgba(20, 20, 20, 0.12);
}

.left-column p img {
    max-width: 50%;
    margin-right: 30px;
    height: auto;
    float: left;
}

h1
{
    font-size: 18px;
    margin: 0 0 10px;
}

h2
{
    font-size: 14px;
    margin: 0 0 5px;
}

h3
{
    font-size: 11px;
    margin: 0 0 0;
}

.main .hMenu
{
    margin-top: 10px;
}

/* LOGOS */

.logo-fer
{
    display: block;
    padding: 0 20px;
    text-align: center;
}

.logo-fer img {
    width: 60px;
}

.logo-fer:hover
{
    opacity: 0.9;
}


/* LEFT COLUMN */

.left-column
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 77%;
    float: left;
    padding: 15px;
    padding-top: 10px;
}

.left-column h1 {
    letter-spacing: -1px;
}

.club-left {
    width: 60%;
}

.left-column.club-left p {
    margin: 0.7em 0;
    font-size: 15px;
    line-height: 24px;
}


div.clear + div.left-column {

  margin: 1.5em 18px 0.25em 12px;
  padding-bottom: 0.5em;
  border-bottom: 2px solid #CCC;
  width: auto;

}

.news-box {
    position: relative;
}

.news-header {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: normal;
    background: #F6F6F6;
    padding: 2px 10px;
    color: #252525;
    border-left: 4px solid #F7AC7B;
    text-shadow: 1px 1px 2px #fff;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    -o-transition: all 0.35s;
    -ms-transition: all 0.35s;
    transition: all 0.35s;
}

.news-header:before {
    float: right;
    vertical-align:middle;
    line-height: 36px;
    color: #aaa;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    -o-transition: all 0.35s;
    -ms-transition: all 0.35s;
    transition: all 0.35s;
}

.news-box:hover .news-header:after {
    color: #666;
}

.news-box:hover .news-header{
    border-left-width: 10px;
}

.news-item
{
    margin-bottom: 10px;
    border-bottom: 1px dotted #fff;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 48.5%;
    float: left;
}

.news-item.even {
    margin-right: 3%;
}

.news-item-title {
    font-family: 'roboto slab', sans-serif;
    font-size: 28px;
    color: #282828;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 33px;
    margin-bottom: 0;
}

.news-item-title a {
    color: inherit;
    display: block;
    padding: 6px 10px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 0;
    -webkit-transition: -webkit-transform 0.15s linear;
       -moz-transition: -moz-transform 0.15s linear;
        -ms-transition: -ms-transform 0.15s linear;
         -o-transition: -o-transform 0.15s linear;
            transition: transform 0.15s linear;
}

.news-item-title a:hover {
    text-decoration: none;
    background-color: #F1783F;
    color: #fff;
    box-shadow: 0 2px 2px -1px rgba(0,0,0,0.3), 0 1px 0px 0 rgba(0,0,0,0.3);
    -webkit-transform: scale(1.05);
       -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
         -o-transform: scale(1.05);
            transform: scale(1.05);
}

.news-item-0,
.news-item.even:last-child {
    width: 100%;
    margin-right: 2%;
    padding-bottom: 15px;
}

 .news-item-thumb {
     width: 25%;
     float: left;
     padding-right: 10px;
     -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
 }

.news-item-thumb img {
    box-shadow: 0 0 5px #000 inset;
}

.news-item-description {
    clear: both;
}


.news-item.even:last-child .news-item-description,
.news-item-0 .news-item-description,
.news-item-title {
    width: 75%;
    float: right;
    clear: none;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.news-item-text p {
    overflow: hidden;
    text-overflow: ellipsis;
}

.news-item-date {
    font-weight: bold;
    font-family: 'roboto slab', sans-serif;
    padding: 0 0 5px;
    font-size: 14px;
    text-align: left;
    text-transform: uppercase;
}

.news-item-date:before {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    color: #A2470C;
    display: inline-block;
    font-size: 18px;
    font-style: normal;
    line-height: 25px;
    height: 26px;
    width: 26px;
    text-align: center;
    font-weight: normal;
    margin-right: 10px;
    background: #F7AC7B;
}

.readmore {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'Roboto slab';
    text-transform: uppercase;
    display: inline-block;
    padding: 3px;
    margin: 3px -3px 3px;
}

.readmore:hover {
    text-decoration: none;
    color: #fff;
    background: #333;
}

.archive-table {
    font-size: 14px;
    line-height: 23px;
    padding-top: 5px;
}

.archive-table td {
    padding: 3px 0;
}

.archive-date {
    width: 90px;
}


/* SINGLE EVENT VIEW */

.single-item + .single-item {
    border-top: 1px dashed #aaa;
    padding-top: 10px;
    margin-top: 15px;
}

.single-title {
    font-family: 'Roboto slab', sans-serif;
    font-size: 34px;
    color: #000;
    text-transform: uppercase;
    padding: 5px 0;
    margin-bottom: 15px;
}

.single-thumb {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    float: left;
    width: 30%;
    padding: 5px;
    background: #F5F5F5;
    border: 1px solid #ddd;
}
.single-thumb img {
    margin-bottom: 10px;
}

.single-date {
    clear: both;
    font-family: 'Roboto slab', sans-serif;
    font-size: 16px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.single-details {
    clear: both;
    font-family: 'Roboto slab', sans-serif;
    font-size: 16px;
    padding-left: 60px;
    margin: 0;
    text-transform: uppercase;
    line-height: 26px;
    padding-top: 10px;
}

.single-date time {
    display: block;
}

.single-date-day {
    font-size: 19px;
}

.single-date-date {
    font-size: 21px;
    white-space: nowrap;
}

.single-description {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 15px;
    width: 70%;
    float: right;
    padding-bottom: 50px;
}

.single-details:before {
    color: #888;
    display: block;
    float: left;
    margin-left: -60px;
    width: 50px;
    font-weight: normal;
    font-size: 36px;
    padding-right: 10px;
    padding-top: 3px;
    border-top: none;
    font-style: normal;
    text-align: center;
    line-height: 50px;
    margin-top: -10px;
    margin-right: 0;
}


.share-btn {
    color: #111;
    display: block;
    margin: 0;
}

.share-btn:hover {
    text-decoration: none;
    color: #E48145;
}

.share-btn:before {
    font-size: 26px;
}

/* RIGHT COLUMN */

.right-column
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    color: #333;
    float: right;
    width: 22%;
    padding: 10px;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: #f5f5f5;
}

.right-box-title {
    margin-top: 10px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 10px;
    border-left: 2px solid #F7AC7B;
    font-size: 1.2em;
    background: #eee;
    text-transform: uppercase;
    color: #888;
    font-weight: bold;
    font-family: Roboto slab;
    margin-bottom: 10px;
}

.right-box-title:first-child {
  margin-top: 0;
}

.club-right {
    width: 40%;
}

.right-column table
{
    font-size: 1em;
    width: 100%;
    text-align: left;
}

.right-column td:first-child {
    padding-right: 10px;
}

.right-column p {
    margin: 0 0 10px;
}

.right-column .fer-box {
    padding-top: 10px;
}



.right-box a {
    padding-top: 10px;
    position: relative;
    display: block;
    overflow: hidden;
}

.gallery-box a:before{
    position: absolute;
    display: block;
    right: 6px;
    top: 10px;
    width: 20px;
    height: 20px;
    background: rgba(33,33,33,0.4);
    border-radius: 0 0 0 7px;
    padding: 5px;
    font-size: 20px;
    color: white;
    z-index: 100;
}

.gallery-box a:hover:before {
    color: #ccc;
}

/* RIGHT COLUMN - FORMS */


.form-search {
    display: block;
}

.form-search:hover {
    border-color: #E48145;
}

.input-search {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    background: url(/static/frontend/images/search.png) no-repeat 5px center #E5E5E5;
    color: #222;
    width: 100%;
    padding: 5px 5px 5px 29px;
    line-height: 1.6em;
    font-size: 1.1em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}

.input-search:focus {
    background-position: -30px center;
    padding-left: 5px;
}

.form-search img {
    vertical-align: text-top;
    padding: 0 3px;
}

.form-newsletter {
    display: block;
    padding-bottom: 32px;
}

.newsletter-subscription {
    float: left;
    display: block;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 75%;
    color: #222;
    margin: 0;
    padding: 5px;
    line-height: 1.6em;
    font-size: 1.1em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}

.newsletter-submit {
    border-left: none;
    float: right;
    display: block;
    font-weight: bold;
    font-family: Roboto Slab;
    line-height: 1.6em;
    font-size: 1.1em;
    text-align: center;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 25%;
    margin: 0;
    color: #222;
    padding: 5px;
    cursor: pointer;
}

/* RIGHT COLUMN - KLUB */


.right-column-klub
{
    font-size: 12px;
    color: #333;
    float: right;
    width: 400px;
    margin-right: 10px;
}

.right-subcolumn-club {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 50%;
    padding: 0 10px 0 0;
    float: left;
}

.right-column-col2-klub
{
    float: right;
    padding: 0 0 0 10px;
}

.kset-opened-text {
    font-size: 12px;
    font-weight: bold;
    color: #000;
}

.right-column-col1-klub .vsep {
    clear: left;
}

.right-column-klub table
{
    font-size: 11px;
}

.right-column-klub h1
{
    font-family:arial,helvetica,sans-serif;
    font-size: 10px;
    color: #555;
    padding: 10px 0px 3px 5px;
}

.cellmenu a {
    display: block;
    float: left;
    width: 80px;
    max-width: 46%;
    height: 60px;
    border: 1px solid #ccc;
    margin: 5px 0px 0px 2px;
    position: relative;
    -webkit-transition: all 0.2s;
       -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
         -o-transition: all 0.2s;
            transition: all 0.2s;
}

.cellmenu a:nth-child(2n) {
    float: right;
}

.cellmenu .text
{
    display: block;
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    padding: 2px 3px;
    color: #fff;
    font-size: 11px;
    background-color: rgba(0,0,0,0.8);
    -webkit-transition: all 0.2s;
       -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
         -o-transition: all 0.2s;
            transition: all 0.2s;
}

.cellmenu a:hover {
    text-decoration: none;
    border: 1px solid #fe7929;
}

.cellmenu a:hover .text {
    background: #000;
}

/* CALENDAR */

.calendar-box {
    position: relative;
}

.calendar-tooltip {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: #111;
    background: rgba(0,0,0,0.9);
    border-left: 2px solid #E48145;
    padding: 5px 7px;
    color: #fff;
    font-size: 14px;
    white-space: nowrap;
}

.calendar-tooltip:before {
    content: "";
    display: block;
    position: absolute;
    left: 10px;
    top: -5px;
    margin-left: -2px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
    border-bottom: 5px solid rgba(0,0,0,0.9);
}

.calendar
{
  text-align: center;
}

.calendar span
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    float: left;
    display: block;
    width: 14.285714285%;
    padding: 2% 0;
    font-weight: bold;
    color: #444;
    background-color: #e5e5e5;
    border: 1px solid transparent;
    border-bottom: 1px solid #f7ac7b;
    margin-bottom: 2px;
}

.calendar a {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    float: left;
    display: block;
    width: 14.285714285%;
    padding: 2% 0;
    color: #333;
    border: 1px solid transparent;
}

.calendar a:hover
{
  font-weight: bold;
  background: #ddd;
  text-decoration: none;
}

.calendar .current {
    background: #ddd;
}

.calendar .reserved
{
  font-weight: bold;
  }

.calendar .out-month
{
  color: #666;
  }

.calendar .today
{
  border: 1px solid #999;
  }

.calendar .month
{
  width: 71.428571428%;
  font-weight: bold;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  }

/* GALLERY */

/* GALERIJA NASLOVNICA */


.gallery {
    padding: 10px;
}

.clear {clear:left;}

.gallery-menu {
    font-size: 14px;
    padding-bottom: 10px;
}

.gallery-month {
    clear: left;
}

.stream {
    text-align: center;
    position: relative;
    margin: 0 1% 5px;
}

.stream-title {
    font-size: 24px;
    position: absolute;
    background: rgba(0,0,0,0.8);
    color: #fff;
    left: 0;
    top: 0;
    font-family: Roboto Slab;
    margin: 10px 1%;
    padding: 10px 15px;
}

video {
    max-width: 100%;
    height: auto;
}

.gallery-type-box {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    float: left;
    margin: 1%;
    width: 48%;
    overflow: hidden;
    text-align: center;
}

.gallery-type-box a {
    display: block;
    color: #000;
    text-decoration: none!important;
}

.gallery-type-text {
    padding:5px 10px 10px;
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    margin-left: -170px;
    color: #fff;
    white-space: nowrap;
    background: rgba(0,0,0,0.8);
    width: 320px;
    -webkit-transition: all 0.4s ease;
       -moz-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
         -o-transition: all 0.4s ease;
            transition: all 0.4s ease;
}

.gallery-type-title {
    font-size: 30px;
    font-family: 'Roboto slab';
}
.gallery-type-subtitle {
    font-size: 12px;
}

.gallery-type-box img {
    width: 100%;
    opacity: 0.9;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
    -webkit-transition: all 0.4s ease;
       -moz-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
         -o-transition: all 0.4s ease;
            transition: all 0.4s ease;
}

.gallery-type-box:hover .gallery-type-text {
    background: rgba(0,0,0,0.95)
}

.gallery-type-box:hover img {
    opacity: 1;
}

.gallery-welcome {
    border-top:1px dashed #333;
    padding:1em 10px;
    margin:1em 12px;
    clear: both;
}

.gallery-welcome-title {
    font-size: 26px;
    font-family: Roboto Slab;
}

.gallery-welcome-version {
    font-family: monospace;
    font-size: 18px;
}

.gallery-welcome p {
    font-size: 1.2em;
    line-height:1.5em;

}

.gallery-welcome p span{
    float: right;
    margin-top:-3em;
}

/* GALERIJA ALBUMI */

.gallery-menu-title {
    font-size: 16px;
    text-transform: uppercase;
}

.gallery-albums-wrapper {
    margin: 0 -5px;
}

.gallery-years {
    float: right;
    font-size: 14px;
    font-family: Roboto Slab;
    text-align: left;
    line-height: 20px;
}

.gallery-year {
    display: inline-block;
    padding: 2px 5px;
    margin: 5px 0;
    background: #fafafa;
    box-shadow: 0 1px 1px -1px rgba(0,0,0,0.4);
    color: #333;
    -webkit-transition: all 0.2s;
       -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
         -o-transition: all 0.2s;
            transition: all 0.2s;
}

.gallery-year-active {
    box-shadow: 0 1px 1px -1px rgba(0,0,0,0);
    background: transparent;
    color: #777;
}

.gallery-year:hover {
    color: #F37F39;
    background: #fff;
    box-shadow: 0 1px 1px -1px rgba(0,0,0,0);
    text-decoration: none;
}

.gallery-month-title {
    color: #555;
    clear: both;
    text-transform: uppercase;
    font-size: 14px;
    margin: 5px 5px 5px;
    padding: 5px 10px;
    font-size: 16px;
    border-left: 3px solid #F37F39;
}

.gallery-top-title {
    color: #111;
    font-size: 20px;
    margin-top: 5px;
    padding: 0 10px;
    text-transform: none;
    font-family: Roboto Slab;
    background: #f5f5f5;
    min-height: 36px;
    line-height: 36px;
    position: relative;
}

.gallery-top-title-text {
    padding-left: 75px;
    display: block;
}

.gallery-backlink {
    position: absolute;
    left: 0px;
    top:0;
    height: 100%;
    float: left;
    color: #000;
    border-right: 2px solid #fff;
    height: 36px;
    line-height: 36px;
    margin-left: 0;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;

    padding-right: 10px;
}

.gallery-backlink:hover {
    color: #fff;
    background: #F37F39;
    text-decoration: none;
    -webkit-transition: all 0.2s;
       -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
         -o-transition: all 0.2s;
            transition: all 0.2s;
}

.m-album {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 33.333%;
    display: block;
    margin: 0;
    border: 10px solid #fff;
    position:relative;
    float:left;
    text-overflow:ellipsis;
    overflow:hidden;
    padding: 0;
    background-color:#fff;
}


.m-album a {
  display:block;
  color:#000;

}

.m-album img {
  width:100%;
  display: block;
}

.m-album .tekst {
  position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: -moz-radial-gradient(center, ellipse cover,  rgba(36,37,40,0.63) 0%, rgba(0,0,0,0.83) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(36,37,40,0.63)), color-stop(100%,rgba(0,0,0,0.83))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(36,37,40,0.63) 0%,rgba(0,0,0,0.83) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(36,37,40,0.63) 0%,rgba(0,0,0,0.83) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(36,37,40,0.63) 0%,rgba(0,0,0,0.83) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(36,37,40,0.63) 0%,rgba(0,0,0,0.83) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1242528', endColorstr='#d4000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    opacity: 0;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    transition: 0.3s ease-out;

    text-align: left;
    color: white;
    font-size: 15px;
    text-shadow: 0 1px 2px #000;
}

.m-album:hover .tekst{
  opacity: 1;
}

.m-album p {
    padding-left: 15px;
}

.m-album .ime {
  width: 100%;
    bottom: 0;
    position: absolute;

    background-color: rgba(0,0,0,0.7);
    z-index: 200;
    -webkit-transition:0.3s ease-out;
    -moz-transition:0.3s ease-out;
    -o-transition:0.3s ease-out;
    -ms-transition:0.3s ease-out;
    transition:0.3s ease-out;
    overflow: hidden;
}

.m-album:hover .ime {
    background-color: rgba(0,0,0,0);
}

.m-album h2 {
  color: #f5f5f5;
  position:relative;
  padding:5px 10px;
    text-shadow: 0 1px 2px #000;
  font-weight: normal;
}

.m-album:hover h2{}

/*#content {width:850px;}*/

/* SLIKE */

.m-slike {
    margin: 0 0;
}

.m-slika {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    float: left;
    width: 33.3333%;
    padding: 5px;
    position: relative;
    overflow: hidden;
}

.m-slika a {
    color: #000;
    display: block;
    text-align: center;
}

.m-slika img {
    display: block;
    padding:0;
    margin:0;
}

.m-slika:hover img {
    opacity: 0.90;
}

.m-slika .info {
    opacity: 0;
    -moz-transition:all 0.2s ease-out;
    -o-transition:all 0.2s ease-out;
    -webkit-transition:all 0.2s ease-out;
    transition:all 0.2s ease-out;
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    text-align: center;
    line-height: 20px;
}

.m-slika:hover .info {
    opacity: 1;
}

.gallery-info-inner {
    display: inline-block;
    background-color: white;
    background-color: rgba(0,0,0,0.7);
    box-shadow: 0 0 0 1px rgba(255,255,255,0.1);
    color: white;
    margin: 0;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 14px;
    max-width: 220px;
    text-shadow: 0 1px 1px #555;
}

.album-title {
    margin: 0 auto 0 10px;
    height: 1.5em;
    padding-top:1em;
    margin-bottom:5em;
}

.album-title h2 {
    font-size: 28px;
    font-family: 'Roboto slab';
}

.album-title .gumb {
    float: left;
    margin-right: 1em;
    text-align: center;
    line-height: 30px;
    background-color: white ;
    box-shadow: 0 0 1px #333;
    padding: 0;
    text-transform: uppercase;
}

.album-title .gumb h2 {
    margin: 0;
}

.album-title .gumb a {
    font-size:12px;
    color:#222;
    padding: 2px 10px;
    line-height: 35px;
}
.album-title .gumb:hover {
  box-shadow: 0 0 2px #000;
}

.album-info {
    margin: 0 5px 15px;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    font-size: 14px;
}

.album-info p {
    margin: 5px 0;
    line-height: 20px;
}

.album-description {
}

.attendances-text {
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px dashed #bbb;
    padding-left: 2em;
}

.marvin-error {
    color: #000;
    font-family: 'Roboto Slab', sans-serif;
    position: absolute;
    top: 17%;
    left: 10%;
    right: 10%;
    font-size: 28px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.3);
}

.marvin {
    display: block;
}

/* RESPONSIVE ! */

@media only screen
and (max-width : 1080px) {

    .m-album {
        width: 50%;
    }

    .m-slika {
        width: 50%;
    }
}

@media only screen
and (max-width : 850px) {

    .news-item {
        width: 100%;
        margin-right: 0;
    }

    .top-menu {
        max-width: 49%;
    }
}

@media only screen
and (max-width : 650px) {

    .page-nav {
        max-width: 49%;
    }

    body {
        background: #444;
        overflow-x: hidden;
    }

    .page-container {
        width: auto;
        border:0;
        margin: 0;
        border-radius: 0;
    }

    .header-pic {
        display: none;
    }

    .page-header {
        padding: 0;
        width: 100%;
        height: auto;
        overflow: visible;
        min-height: 125px;
    }


    .top-menu {
        right: 70px;
        top: 0;
        width: 0;
        left: auto;
        bottom: auto;
        padding-bottom: 0;
        z-index: 100;
        background: #000;
        border-radius: 0 0 15px 0;
        border: 1px solid #111;
        overflow: visible;
    }

    .open-menu {
        right: 70px;
        width: auto;
        left: 0;
        max-width: 100%;
        padding-top: 72px;
        background: #191919;
    }

    .top-menu:before {
        content: '\e80c';
        color: #fe7929;
        position: absolute;
        width: 30px;
        right: -70px;
        padding: 0.30em 19px;
        top: 0;
        z-index: 110;
        font-size: 210%;
        line-height: 1.5em;
        text-align: right;
    }

    .no-touch .top-menu:before {
        content: 'MENI';
        font-family: 'Open Sans', 'Droid Sans', sans-serif;
        right: 10px;
        top: -2px;
    }

    .no-touch .open-menu:before {
        content: '-';
        right: 15px;
    }

    .open-menu:before {
        color: #fff;
    }

    .top-menu-prompt {
        position: absolute;
        right: -5px;
        top: 12px;
        font-size: 28px;
    }

    .top-menu.open-menu #top-menu-prompt {
        visibility: hidden;
    }

    .fontface .top-menu-prompt.prompt-blink {
        background: none;
        color: black;
    }

    .no-touch .top-menu {
        width: 70px;
        height: 60px;
        right: 10px;
        top: -5px;
    }

    .no-touch .open-menu {
        width: auto;
        height: auto;
    }

    .no-touch .top-menu-prompt {
        font-size: 58px;
        right: 100%;
        top: 9px;
        z-index: 200;
    }



    .top-menu a {
        color: #FE7929;
        position: relative;
        display: none;
        font-weight: normal;
        font-size: 22px;
        text-align: left;
        padding: 0 15px;
        line-height:2.2em;
        border-top: 1px solid rgba(255,255,255, 0.05);
        text-shadow: none;
    }

    .top-menu-prompt + a {
        border-top:1px solid #444;
    }

    .top-menu.open-menu a{
        display: block;
    }

    .logo {
        margin:5px 10px 8px;
        z-index: 200;
        max-height: 60px;
        width: auto;
    }

    .header-scroll {
        height: auto;
        float: none;
        width: auto;
        clear: both;
        max-width: 100%;
        min-height: 45px;
        border-top: 1px solid #333;
        padding: 5px 0 10px;
        background: #191919;
    }

    .header-scroll-viewport-empty:before {
        content: ':(';  /* mobile unicode is bad */
        font-size: 20px;
        color: #999;
        font-weight: bold;
    }

    .header-scroll-control {
        display: block;
        position: absolute;
        z-index: 100;
        height: 28px;
        line-height: 34px;
        font-size: 30px;
        font-weight: bold;
        right: 10px;
        top: 7px;
        padding: 10px;
        background: #222;
        border-radius: 10px;
        color: white;
        width: 28px;
        text-align: center;
    }

    .header-scroll.scroll-expanded .header-scroll-control {
        background: #333;
        color: #eee;
    }


    .header-scroll .item {
        display: none;
        font-size: 20px;
        margin: 0;
        border-bottom: 0;
        padding: 0 5px 0;
        -webkit-transition: none;
           -moz-transition: none;
            -ms-transition: none;
             -o-transition: none;
                transition: none;
    }

    .header-scroll .item:hover {
        background: none;
        border-bottom: 0;
        margin-left: 0 !important;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }

    .header-scroll.scroll-expanded .item {
        display: block;
    }

    .header-scroll .item img {
        top: 3px;
        border-bottom: 0;
        height: 42px;
        width: 42px;
    }

    .header-scroll #event-0{
        display: block;
        padding-right: 3em;
    }

    .header-scroll #event-0 .item-top-title{
        width: 80%;
    }

    .header-scroll .item-top {
        height: 30px;
    }

    .header-scroll-viewport {
        margin: 0;
    }

    .left-column {
        margin: 0;
        padding: 10px;
        clear: left;
        width: auto;
    }

    .club-left {
        max-width: 100%;
    }

    .left-column table {
        font-size: 1.6em;
        margin-bottom: 15px;
    }

    .right-column {
        clear: left;
        float: none;
        text-align: center;
        width: auto;
        padding: 10px 0;
        font-size: 16px;
    }

    .right-column h1 {
        font-size: 17px;
    }

    .right-column {
        font-size: 16px;
        line-height: 26px;
    }

    .right-column.club-right {
        width: auto;
        max-width: 100%;
    }

    .right-subcolumn-club {
        width: auto;
        padding: 10px 10px;
        float: none;
    }

    .cellmenu a:nth-child(2n) {
        float: left;
    }

    .archive-table {
        font-size: 16px;
    }

    .archive-table td {
        padding: 7px 0;
    }

    .archive-date {
        width: 120px;
    }

    .gallery-type-box {
        width: auto;
        float: none;
    }

    .m-album {
        width: 100%;
    }

    .m-slika {
        width: 100%;
        margin: 0;
    }

    .header-social-links {
        display: none;
    }

    .news-item-thumb {
        width: auto;
        padding-right: 0;
    }

    .news-item-title,
    .news-item-description,
    .news-item-0 .news-item-description {
        float: none;
        width: auto;
        clear: both;
    }

    .single-thumb,
    .single-description {
        width: auto;
        max-width: none;
        float: none;
        clear: both;
        padding: 5px;
    }


    .marvin-error {
        font-size: 18px;
        position: relative;
        padding: 10px;
        left: 0;
        right: 0;
        top: 0;
    }

}

@media screen and (max-width : 850px) and (orientation:landscape) {
    .header-scroll .item {
        margin-left: 58px;
    }
}

iframe { max-width: 100%;}
