/__tmp
*.pyc
local_settings.py
templates/zivpdf.bak
/kset/settings/production.*
/kset/settings/local.*
/kset/settings/secret.*
baza.db
/kset/media/*
/kset/static/*
/kset/media/uploads
dev.db
/requirements/local.txt
*.swp
