{% extends "index.html" %}

{% block members-css %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}frontend/css/members.css">
{% endblock members-css %}

{% block members-jss %}
 <script src="{{ STATIC_URL }}ajaxuploader/js/fileuploader.js" ></script>
 <link href="{{ STATIC_URL }}ajaxuploader/css/fileuploader.css" media="screen" rel="stylesheet" type="text/css" />
   <script>
    jQuery(function(){
        var uploader = new qq.FileUploader({
            action: "{% url 'members_avatar_upload' %}",
            element: $('#file-uploader')[0],
            multiple: false,
            disableCancelForFormUploads: true,
            allowedExtensions: ['jpg', 'jpeg', 'png', 'gif'],
            sizeLimit: 5242880,
            onComplete: function(id, fileName, responseJSON) {
                if(responseJSON.success) {
                    // alert("success!");
                    // $("#upload-button").removeAttr("disabled");
                    // $("#upload-button").removeClass("btn-inverse");
                    // $("#upload-button").addClass("btn-primary");

                } else {
                    alert("Upload failed!");
                }
            },
            onAllComplete: function(uploads) {
                // uploads is an array of maps
                // the maps look like this: {file: FileObject, response: JSONServerResponse}
                var path = uploads[0].response.path
                jQuery.ajax({
				  type: "POST",
				  url: "{% url 'members_avatar_update' %}",
				  data: {'filename': path}
				});
				location.reload();
            },
            params: {
                'csrf_token': '{{ csrf_token }}',
                'csrf_name': 'csrfmiddlewaretoken',
                'csrf_xname': 'X-CSRFToken',
            },
        });
    });
</script>

{% endblock members-jss %}


{% block content %}

<div id="members-main">

	{% block main %}

		<div class="members-leftContent" style="width:75%; float: left;">
		{% block leftContent %}

			<div class="top">

				{% if member.image %}
				<div id="member_avatar" class="image">
					<img src="{{member.image}}" alt="Avatar">
				</div>
				{% endif %}
				{% if is_owner %}
					<div id="file-uploader">
				        <noscript>
				            <p>Please enable JavaScript to use file uploader.</p>
				        </noscript>
				    </div>
				{% endif %}
				<div class="basic-info">
					<div class="name">{{member.name}} {{member.surname}}</div>
					<div class="nickname">{% if member.nickname %}- <i>{{member.nickname}}</i>{% endif %}</div>
				</div>
				<div style="clear: both"></div>
			</div>

			<div class="bottom">
				<div class="birth-date bottom-item">
					<div class="entry-title">Datum rođenja:</div>
					<div class="value">{{member.birth|date:"d.m.Y"|default:"nepoznato"}}</div>
				</div>

                                <div class="death-date bottom-item">
                                        {% if member.death %}
					<div class="entry-title">Datum smrti:</div>
                                        <div class="value">{{member.death|date:"d.m.Y"|default:"It is aliveee!"}}</div>
                                        {% endif %}
				</div>

				<div class="addresses bottom-item">
					<div class="entry-title">
						Adrese
					</div>
					<div class="table-container">
					    <table class="datatable deletable-row" cellpadding="0" cellspacing="0">
					        <tbody>
					            {% for address in addresses %}
					                <tr class="ctrl-smart-row">
					                    <td>{{address.address|default:"nepoznato"}}</td>
					                    <td>{{address.town|default:"nepoznato"}}</td>
					                    <td>{{address.zipcode|default:"nepoznato"}}</td>
					                    <td>{{address.country|default:"nepoznato"}}</td>
					                    {% if is_owner %}<td><a class="icononly" data-method="post" href="{% url 'members_delete_address' address.id %}" data-should-prompt="Jeste li sigurni?"/>X</a></td>{% endif %}
					                </tr>
					            {% empty %}
									<tr class="no-contact">
										<td>Nema zapisa...</td>
									</tr>
					            {% endfor %}
					        </tbody>
					    </table>
					</div>
					{% if is_owner %}
						Dodaj novu adresu:
						{% include "partials/form.html" with form=address_form method="POST" %}
					{% endif %}
				</div>

				<div class="contacts bottom-item">
					<div class="entry-title">
						Kontakti
					</div>
					<div class="table-container">
					    <table class="datatable deletable-row" cellpadding="0" cellspacing="0">
					        <tbody>
					            {% for contact in contacts %}
					                <tr class="ctrl-smart-row">
					                    <td>{{contact.get_contact_type_display}}:</td>
					                    <td>{{contact.contact}}</td>
					                    {% if is_owner %}<td><a class="icononly" data-method="post" href="{% url 'members_delete_contact' contact.id %}" data-should-prompt="Jeste li sigurni?"/>X</a></td>{% endif %}
					                </tr>
					             {% empty %}
									<tr class="no-contact">
										<td>Nema zapisa...</td>
									</tr>
					            {% endfor %}
					        </tbody>
					    </table>
					</div>
					{% if is_owner %}
					    Dodaj novi kontakt:
						{% include "partials/form.html" with form=contact_form method="POST" %}
					{% endif %}
				</div>

				<div class="groups bottom-item">
					<div class="entry-title">
						Članstva
					</div>
					<table class="groups-list">
						{% for group in groups %}
						<tr class="group">
							<td>
								{% if group.group.name %}
									{{ group.group.name }}
									{{ group.date_start|default:"" }}
								{% endif %}
							</td>
						</tr>
						{% empty %}
						<tr class="no-group">
							<td>Nema zapisa...</td>
						</tr>
						{% endfor %}
					</table>
				</div>

				<div class="comment bottom-item">
					<div class="entry-title">Komentar:</div>
					<div class="value">{{member.comment|default:"nema"|safe}}</div>
				</div>

				{% if isProfileOwner %}
				<!--<div class="profile-edit-nav bottom-item">
					<a href="/clanovi/uredi/">Uredi profil</a>
				</div>-->
				{% endif %}

			</div>
		{% endblock %}
		</div>

		<div class="members-rightContent" style="width: 20%; float: right;">
		{% block rightContent %}
			<div class="menu">
				<ul>
					<li><h1><a href="{% url 'members_index' %}">Profil</a> | <a href="{% url 'members_logout' %}">Odjava</a></h1></li>
					<li><a href="{% url 'members_list_all' %}">Lista svih članova</a></li>
				</ul>
			</div>
		{% endblock %}
		</div>

		<div style="clear:both; height: 20px;"></div>
	{% endblock %}

</div>

{% endblock %}

