{% extends "main.html" %}

{% block leftContent %}

    <h2 class="members-list-title">Filter:</h2>
    {% include "partials/form.html" with form=filter_form method="POST" %}

{% endblock %}

{% block middleContent %}
    <div class="members-list">
    	{% if members %}
    		<h2 class="members-list-title">Broj pronađenih članova: {{ members|length }}</h2>
			{% for member in members %}
				<div class="members-list-item">
					<a href="{% url 'members_get_member' id=member.id %}">
                        <strong>{{member.surname}} {{member.name}}</strong>{%if member.nickname%} - <em>{{member.nickname}}{%endif%}</em>
                    </a>
				</div>
			{% endfor %}
		{% else %}
			<h1>Nije pronađen niti jedan član.</h1>
    	{% endif %}
	</div>
{% endblock %}
