{% extends "main.html" %}

{% block leftContent %}
    <div class="members-list">
    	{% if members %}
    		<h1>Broj pronađenih članova: {{ members|length }}</h1>
			{% for member in members %}
				<div class="members-list-item">
					<div class="members-list-member">
						<a href="{% url 'members_get_member' id=member.id %}">{{member.name}} {{member.surname}}</a>
					</div>
				</div>
			{% endfor %}
		{% else %}
			<h1>Nije pronađen niti jedan član.</h1>
    	{% endif %}
	</div>
{% endblock %}

{% block rightContent %}
	{{block.super}}
	<h1><u>Filter:</u></h1>
	{% include "partials/form.html" with form=filter_form method="POST" %}
{% endblock %}