@charset "UTF-8";

/*201F25*/

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Italic-webfont.eot');
    src: url('../fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Italic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Italic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Italic-webfont.svg#OpenSansItalic') format('svg');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-BoldItalic-webfont.eot');
    src: url('../fonts/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-BoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.eot');
    src: url('../fonts/fontello.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fontello.woff') format('woff'),
         url('../fonts/fontello.ttf') format('truetype'),
         url('../fonts/fontello.svg#iconic') format('svg');
    font-weight: normal; font-style: normal; }

body
{
    font-family: 'Open Sans', Verdana,sans-serif,arial;
    margin: 0;
    font-size: 11px;
    background: #111 url(../images/bg.png);/*
    background-image: -webkit-linear-gradient(to bottom,rgba(0,0,0,0.6) 0,  rgba(69,72,77,0.3) 100%),url(../images/bg.png);
    background-image: -moz-linear-gradient(to bottom,rgba(0,0,0,0.6) 0,  rgba(69,72,77,0.3) 100%),url(../images/bg.png);
    background-image: -o-linear-gradient(to bottom,rgba(0,0,0,0.6) 0,  rgba(69,72,77,0.3) 100%),url(../images/bg.png);
    background-image: -ms-linear-gradient(to bottom,rgba(0,0,0,0.6) 0,  rgba(69,72,77,0.3) 100%),url(../images/bg.png);
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.6) 0,  rgba(69,72,77,0.3) 100%),url(../images/bg.png);*/
    height: 100%;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
    width: 100%;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

td
{
    vertical-align: top;
}

a
{
    color: #E48145; /* old: #c06833;*/
    text-decoration: none;
}

ul
{
    list-style-image: url('sqpurple.gif');
}

img
{
    max-width: 100%;
    border: 0px;
}

input
{
    border: 1px solid #aaa;
    margin: 0px;
    outline: none;
}

.fontello {
    font-family: fontello;
    position: relative;
    top: -1px;
}

.vsep
{
    clear: both;
    border-bottom: 1px dotted #aaa;
    padding-top: 8px;
}


a:hover
{
    text-decoration: underline;
}

.page-container
{
    background: #000;
    max-width: 980px;
    margin: 30px auto 40px;
    padding: 5px 1px 2px;
    border-top-left-radius: 30px;
    box-shadow: 0 0 0 10px rgba(0,0,0,0.3);
    /*
    box-shadow: 0 0 250px -30px rgba(200,200,200,0.3);
    */
}

.orange
{
    color: #fe7929;
}

.footer
{
    padding: 5px 0;
    text-align: center;
    color: #bbb;
    background: #000;
}

/* --- HEADER ------------------------------------------------------ */

.page-header
{
    position: relative;
    height: 300px;
    letter-spacing: 0;
    overflow: hidden;
    padding: 0 10px;

}

.header-pic {
    position: absolute;
    top: 5px;
    left: 0px;
    border-radius: 20px 0 0 0;
}

.logo
{
    float:left;
    margin: 10px;
    position: relative;
    z-index:2;
}

/* SOCIAL STUFF */

.header-social-links {
    font-family: fontello;
    font-size: 24px;
    position: absolute;
    top: 10px;
    right: 47%;
    line-height: 24px;
    width: 50px;
    z-index: 100;
}

.header-social-links a {
    margin-bottom: 9px;
    padding: 7px;
    display: block;
    color: #666;
    overflow: hidden;
    line-height: 26px;
    min-width: 28px;
    height: 20px;
    text-align: center;
    border-radius: 5px;
    text-shadow: 0 0 5px black;
    background: rgba(33,33,33,0.0);

    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    -ms-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
}

.header-social-links a:hover {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    /*background: rgba(255,255,255,0.2);*/
    text-shadow: 0 0 6px #eee, 0 0 2px black;
}


/* SCROLL */

.header-scroll
{
    position: relative;
    float: right;
    width: 450px;
    height: 285px;
    margin-top: 5px;
    margin-right: 0;
    max-width: 48%;
    overflow: hidden;
    border-left: 1px dotted #444;
}
/*
#header-scroll:hover {
    z-index: 150;
}
*/
.header-scrollbar {
    position: absolute;
    top:0;
    right: 0px;
    width: 2px;
    background: rgba(255,255,255,0);
    height: 100%;
    z-index: 100;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.header-scroll:hover .header-scrollbar {
    background: rgba(255,255,255,0.5);
}

.header-scroll-viewport {
    position: relative;
    top: 0;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.header-scroll .item
{
    font-size: 17px;
    color: #ddd;
    padding: 2px 0 2px;
    border-bottom: 1px solid #000;
    position: relative;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
}

.header-scroll .item:hover {
    background: #171717;
    border-bottom: 1px solid #803d15;
}

.modern-no-csstransforms #header-scroll .item:hover {
    margin-left: 50px;
}

.modern-csstransforms #header-scroll .item:hover {
    -webkit-transform: translate3d(50px, 0, 0);
    -moz-transform: translate3d(50px, 0, 0);
    -ms-transform: translate3d(50px, 0, 0);
    -o-transform: translate3d(50px, 0, 0);
    transform: translate3d(50px, 0, 0);
}

.scroll-thumb {
    position: absolute;
    top: 0 ;
    height: 47px;
    border-bottom: 1px solid #803d15;
    border-radius: 3px  0 0 0;
    width: 47px;
    opacity: 1;
    left: -47px;
    background: #171717;
}

.header-scroll .item-top a
{
    color: #ddd;
    text-decoration: none;
    display: inline-block;
    width: 86%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.header-scroll .item-top a:hover
{
    color: #fff;
}

.header-scroll .item-top
{
    height: 25px;
    overflow: hidden;
    white-space: nowrap;
}

.header-scroll .item-top .date
{
    font-weight: bold;
    width: 50px;
    height: 22px;
    text-align: left;
    padding-left: 7px;
    display: inline-block;
    vertical-align: top;
}

.item-top .date small {
    font-size: 10px;
    color: #666;
    margin-right: -4px;
}

.header-scroll .item-bottom
{
    height: 18px;
    font-size: 12px;
    color: #777;
}



.header-scroll .item-bottom .date
{
    float: left;
    width: 36px;
    padding-right: 18px;
    padding-left: 7px;
    white-space: nowrap;
}

.header-scroll .item-bottom .date span {
    padding-right: 2px;
    padding-left: 2px;
}

.header-scroll .item-bottom .tags:before {
    font-family: 'fontello';
    content: '\E70D ';
    font-size: 11px;
}

.header-scroll-control {
    display: none;
}


/* TOP MENU */

.page-nav
{
    position: absolute;
    bottom: 0;
    left: 0;
    line-height: 40px;
    font-size: 16px;
    font-weight: bold;
    background: #000;
    background: rgba(0,0,0,0.6);
    max-width: 53%;
    overflow: hidden;
    text-align: center;
}

.page-nav a
{
    color: #eee;
    padding: 3px 6px 6px;
    text-decoration: none;
    vertical-align: middle;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.page-nav a:hover
{
    color: #fe7929;
    text-decoration: none;
}

.top-menu-prompt
{
    color: #fe7929;
    margin-left: 10px;
    display: inline;
}

.prompt-blink
{
    background-color: #fe7929;
}

/* --- CONTENT ----------------------------------------------------- */

.main
{
    background: #f5f5f5 url(../images/content-bg.png);
    font-size: 12px;
    color: #111;
    padding: 0;
    border-bottom: 2px solid #FE7929;
    border-top: 2px solid #FE7929;
}

.icontent {
}

.left-column p {
    margin: 0.3em 0;
    line-height: 22px;
    font-size: 15px;
    text-shadow: 0 1px 2px rgba(20, 20, 20, 0.12);
}

.left-column p img {
    max-width: 50%;
    float: left;
    margin-right: 30px;
    height: auto;
}

h1
{
    font-size: 18px;
    margin: 5px 0px 0px 0px;
    text-shadow:1px 1px 1px #ccc;
}

h2
{
    font-size: 14px;
    margin: 5px 0px 0px 0px;
    text-shadow:0 0  2px #fff;
}

h3
{
    font-size: 11px;
    color: #555;
    margin: 0;
    font-weight: normal;
    padding: 5px 2px 2px;
    text-shadow: 1px 1px 1px #fff;
}

.icontent h3:before {
    font-family: 'fontello';
    content:'📅';
    padding-right: 2px;
}

.main .hMenu
{
    margin-top: 10px;
}

/* LOGOS */

.logo-fer
{
    float: right;
    margin-right: 5px;
    background: transparent url(../images/fer.png) no-repeat scroll 0px -60px;

    display: block;
    width: 40px;
    height: 60px;
}
.logo-fer:hover
{
    background: transparent url(../images/fer.png) no-repeat scroll 0px 0px;
}


/* LEFT COLUMN */

.left-column
{
    margin-right: 180px;
    padding: 15px;
    padding-top: 10px;
    background: #fefefe;
    box-shadow: 5px 0 15px -5px #e7e7e7;
}

.left-column h1 {
    letter-spacing: -1px;
}

.club-left {
    max-width: 530px;
    padding-right: 10px;
}

.left-column.club-left p {
    margin: 0.7em 0;
    font-size: 13px;
    line-height: 22px;
}


div.clear + div.left-column {

  margin: 1.5em 18px 0.25em 12px;
  padding-bottom: 0.5em;
  border-bottom: 2px solid #CCC;
  width: auto;

}

.news-box {
    position: relative;
}

.news-header {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: normal;
    background: #F6F6F6;
    padding: 2px 10px;
    color: #252525;
    border-left: 4px solid #F7AC7B;
    text-shadow: 1px 1px 2px #fff;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    -o-transition: all 0.35s;
    -ms-transition: all 0.35s;
    transition: all 0.35s;
}

.news-header:after {
    font-family: 'fontello';
    float: right;
    vertical-align:middle;
    line-height: 36px;
    color: #aaa;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    -o-transition: all 0.35s;
    -ms-transition: all 0.35s;
    transition: all 0.35s;
}

.dnevni .news-header:after {
    content:'\263C ';
}

.nocni .news-header:after {
    content:'\E7A0 ';
}

.vijesti .news-header:after {
    content:'\E734 ';
}

.news-box:hover .news-header:after {
    color: #666;
}

.news-box:hover .news-header{
    border-left-width: 10px;
}

.news-item
{
    margin-bottom: 10px;
    border-bottom: 1px dotted #fff;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 48.5%;
    float: left;
}

.news-item.even {
    margin-right: 3%;
}

.news-item h2 {
    font-size: 22px;
    color: #282828;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 24px;
    border-bottom: 1px solid #F7AC7B;
    padding: 3px 0 6px;
    letter-spacing: -1px;
}

.news-item h2 a {
    color: inherit;
    display: block;
}

.news-item h2 a:hover {
    text-decoration: none;
}

.news-item h2:hover {
    background: rgba(0, 0, 0, 0.03);
}

.news-item-0,
.news-item.even:last-child {
    width: 100%;
    margin-right: 2%;
    padding-bottom: 15px;
}

.news-item .thumb
{
    float: left;
    margin: 0 10px 5px 0px;
    width: 80px;
    border-radius: 0 15px 15px 15px;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
}

.news-item .thumb:hover {
}

.news-item-0 .thumb,
.news-item.even:last-child .thumb {
    width:48%;
    margin-right: 3%;
}
/*

OLD STUFF

.share {
    font-family: 'InconicFill';
    content:
}
.facebook

.shareFb, .shareTw
{
  background-image: url(/media/frontend/images/share_fb_tw.png);
  float: right;
  display: block;
  margin-top: -16px;
  margin-left: 5px;
  width: 19px;
  height: 19px;
}
.shareFb { background-position: 0px -19px; }
.shareFb:hover { background-position: 0px 0px; }
.shareTw { background-position: -19px -19px; }
.shareTw:hover { background-position: -19px 0px; }
*/
.archive-table {
    font-size: 14px;
    line-height: 23px;
    padding-top: 5px;
}

.archive-table td {
    padding: 3px 0;
}

.archive-date {
    width: 90px;
}


/* SINGLE EVENT VIEW */

.single-item + .single-item {
    border-top: 1px dashed #aaa;
    padding-top: 10px;
    margin-top: 15px;
}

.share-buttons {
    line-height: 20px;
    float: right;
    padding-right: 10px;
    font-weight: bold;
    color: #E48145;
    padding-top: 17px;
}

.share-text {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    color: #333;
    font-size: 18px;
    padding-right: 5px;
    letter-spacing: -1px;
    text-transform: uppercase;
    text-shadow: 0 1px 1px #ccc;
}

.share-buttons:hover .share-text {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

.share-btn {
    font-size: 20px;
    font-family: 'fontello';
    padding: 5px;
    padding-right: 10px;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    transition: 0.2s linear;
    text-shadow: 0 1px 2px #ddd;
}

.share-btn:hover {
    text-decoration: none;
    color: #333;
    text-shadow: 0 0 1px #333;
}


.single-title {
    font-size: 24px;
    color: #1F1F1F;
    text-transform: uppercase;
    border-left: 6px solid #F7AC7B;
    padding: 5px 10px;
    margin-bottom: 15px;
    background: #f5f5f5;
}

.single-thumb {
    position: relative;
    float: left;
    margin: 6px 30px 10px 0;
    max-width: 50%;
}

.single-thumb h3 {
    font-size: 14px;
    font-weight: bold;
    background: #333;
    padding-left: 8px;
    text-shadow: 0 1px 1px #000;
    color: #eee;
    border-left: 5px solid #FE7929;
    border-radius: 0 0 10px 0;
}


.single-thumb h3:before {
    font-family: 'fontello';
    content:'📅';
    text-shadow: 0 0 2px #000;
    font-size: 16px;
    padding-right: 6px;
    font-style: normal;
}

.single-tags {
    color: #555;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 25px;
}

.single-tags:before {
    font-family: 'fontello';
    content: '\E70D';
    padding-right: 5px;
}

/* RIGHT COLUMN */

.right-column
{
    font-size: 11px;
    color: #333;
    float: right;
    clear: both;
    width: 161px;
    padding: 10px;
}

.club-right {
    width: 400px;
}

.right-column table
{
    font-size: 11px;
}

.right-column h1
{
    font-family: 'Open sans', arial,helvetica,sans-serif;
    font-size: 10px;
    color: #555;
    margin: 0px;
    padding: 10px 0px 3px 5px;
    text-transform: uppercase;
}

.right-column p
{
    padding-left: 5px;
    padding-top: 2px;
    margin: 0;
}

.right-column .fer-box p {
    padding-top:10px;
}



.right-box a {
    padding-left: 5px;
    padding-top: 10px;
    position: relative;
    display: block;
    overflow: hidden;
}

.gallery-box a:before{
    position: absolute;
    display: block;
    right: 6px;
    top: 10px;
    width: 20px;
    height: 20px;
    background: rgba(33,33,33,0.4);
    border-radius: 0 0 0 7px;
    padding: 5px;
    font-size: 20px;
    color: white;
    content: '\1F304';
    font-family: fontello;
    z-index: 100;
}

.gallery-box a:hover:before {
    color: #ccc;
}

.right-box p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/*
#club-info
{
    background: #fff url(../images/cockroach.png) no-repeat scroll right top;
    border: 1px solid #e6e6e6;
    font-size: 9px;
    font-style: italic;
    color: #555;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#club-info ol
{
    padding: 0px 0px 0px 25px;
}
*/


/* RIGHT COLUMN - FORMS */


.form-search {
    line-height: 20px;
    background: #E5E5E5;
    border: 1px solid #ccc;
}

.input-search {
    background: url(/media/frontend/images/search.png) no-repeat 5px 4px;
    color: #222;
    padding: 5px 5px 5px 29px;
    height: 17px;
    width: 125px;
    border: 0;
    font-size: 12px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}

.input-search:focus {
    background-position: -30px 4px;
    padding-left: 5px;
    width: 149px;
}

.form-search img {
    vertical-align: text-top;
    padding: 0 3px;
}


.newsletter-subscription {
    width: 120px;
    color: #666;
    padding-left: 5px;
}


/* RIGHT COLUMN - KLUB */


.right-column-klub
{
    font-size: 11px;
    color: #333;
    float: right;
    width: 400px;
    margin-right: 10px;
}

.right-column-col2-klub
{
    float: right;
    width: 175px;
    background-color: #e1e1e1;
    border-right: 1px solid #d1d1d1;
    border-left: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    padding: 0px 3px 10px 5px;

    border-top: 1px solid #d1d1d1;
}

.right-column-col1-klub
{
    width: 195px;
    background-color: #e8e8e8;
    border-right: 1px solid #d8d8d8;
    border-left: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    padding: 0px 3px 10px 5px;
    border-top: 1px solid #d1d1d1;
}

.right-column-col1-klub .vsep {
    clear: left;
}

.right-column-klub table
{
    font-size: 11px;
}

.right-column-klub h1
{
    font-family:arial,helvetica,sans-serif;
    font-size: 10px;
    color: #555;
    padding: 10px 0px 3px 5px;
}

.right-column-klub p
{
    margin: 5px 3px 3px 12px;
}


.cellmenu
{
}

.cellmenu a
{
    display: block;
    float: left;
    width: 80px;
    height: 60px;
    border: 1px solid #ccc;
    margin: 5px 0px 0px 12px;
    position: relative;
}

.cellmenu a:hover
{
    text-decoration: none;
    border: 1px solid #fe7929;
}

.cellmenu .text
{
    display: block;
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    padding: 0px 3px;
    color: #fff;
    font-weight: bold;
    font-size: 10px;
    background-color: #000;
    opacity:0.85;
    filter:alpha(opacity=85); /* IE */
}

/* CALENDAR */

.calendar
{
  padding-top: 10px;
  height: 150px;
  width: 161px;
  text-align: center;
}

.calendar span
{
  float: left;
  display: block;
  width: 21px;

  font-size: 10px;
  font-weight: bold;
  color: #444;

  background-color: #e5e5e5;
  border: 1px solid transparent;
  border-bottom: 1px solid #f7ac7b;

  margin-bottom: 2px;
  }

.calendar a
{
  float: left;

  display: block;
  width: 21px;
  height: 18px;

  font-size: 11px;
  color: #000;

  border: 1px solid transparent;
  }

.calendar a:hover
{
  font-weight: bold;
}

.calendar .current {
    background: #ddd;
}

.calendar .reserved
{
  font-weight: bold;
  }

.calendar .out-month
{
  color: #666;
  }

.calendar .today
{
  border: 1px solid #999;
  }

.calendar .month
{
  width: 110px;
  font-weight: bold;
  }

/* GALLERY */

/* GALERIJA NASLOVNICA */


.gallery {
    padding: 10px;
}

.clear {clear:left;}

.gallery-menu {
    font-size: 14px;
    padding-bottom: 10px;
}

.gallery-menu span {
    font-size: 14px;
    display: block;
    font-weight: bold;
    line-height: 35px;
}

.gallery-menu span + a {
    margin-left: 10px;
}

.gallery-menu a {
    padding: 5px;
    font-weight: bold;
}

.gallery-menu a:hover {
    text-shadow: 0 0 4px #fff;
}

.gallery-month {
    clear: left;
}

.m-box {
  float: left;
  margin: 1%;
  width: 48%;
  text-align: center;
}

.stream {
    float: center;
    margin: 1%;
    text-align: center;
}

video {
    max-width: 100%;
    height: auto;
}

.m-box a {
	display: inline-block;
	text-decoration:none!important;
}

.m-box .dolje {
	padding:5px 10px 10px;
}

.m-box a:hover .dolje{
	background-color:#e5e5e5;
}

.m-box img{
	opacity:0.7;
    -webkit-transition: opacity 0.6s ease-out;
    -moz-transition: opacity 0.6s ease-out;
    -ms-transition: opacity 0.6s ease-out;
    -o-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.m-box img:hover {
	opacity:1;
}

.m-welcome {
	border-top:1px dashed #333;
	padding:1em 10px;
	margin:1em 12px;
	clear: both;
}

.m-welcome p {
	line-height:1.5em;

}

.m-welcome p span{
	float:right;
	margin-top:-3em;
}

/* GALERIJA ALBUMI */

.m-album {
  width: 255px;
  height: 175px;
  margin: 2% 3.2%;
  border: 1px solid #fff;
  position:relative;
  float:left;
  text-overflow:ellipsis;
  overflow:hidden;
  padding:0;
  background-color:#fff;
  box-shadow: 0 0 4px #bbb;
  border-radius: 3px;
}


.m-album a {
  display:block;
  color:#000;

}

.m-album img {
  width:100%;
  border-radius: 3px;
}

.m-album .slika {
    box-shadow: 0 5px 1px rgba(255,255,255,0.8) inset;

}

.m-album .tekst {
  position:absolute;
    top:0;
    left:0;
    float:left;
    width:100%;
    height: 100%;
    overflow:hidden;
background: -moz-radial-gradient(center, ellipse cover,  rgba(36,37,40,0.63) 0%, rgba(0,0,0,0.83) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(36,37,40,0.63)), color-stop(100%,rgba(0,0,0,0.83))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(36,37,40,0.63) 0%,rgba(0,0,0,0.83) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(36,37,40,0.63) 0%,rgba(0,0,0,0.83) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(36,37,40,0.63) 0%,rgba(0,0,0,0.83) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(36,37,40,0.63) 0%,rgba(0,0,0,0.83) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1242528', endColorstr='#d4000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    opacity: 0;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    transition: 0.3s ease-out;

    text-align: left;
    color: white;
    font-size: 15px;
    text-shadow: 0 1px 2px #000;
}

.m-album:hover .tekst{
  opacity: 1;
}

.m-album p {
    padding-left: 15px;
}
.m-album p:before {
    font-family: 'fontello';
    font-size: 20px;
    vertical-align: top;
    color: white;
    display: inline-block;
    width: 20px;
    padding-right: 5px;
    text-shadow:0 0 5px black;
}

.gallery-date:before {
    content:'\E73E ';
}

.gallery-author:before {
    content:'\1F464 ';
}


.m-album .ime {
  width: 100%;
    padding-bottom:5px;
    bottom: 0;
    position: absolute;

    background-color: rgba(0,0,0,0.7);
    z-index: 200;
    -webkit-transition:0.3s ease-out;
    -moz-transition:0.3s ease-out;
    -o-transition:0.3s ease-out;
    -ms-transition:0.3s ease-out;
    transition:0.3s ease-out;
    overflow: hidden;
}

.m-album:hover .ime {
    background-color: rgba(0,0,0,0);
}

.m-album h2 {
  color: #f5f5f5;
  position:relative;
  padding:5px 10px;
    text-shadow: 0 1px 2px #000;
  font-weight: normal;
}

.m-album:hover h2{}

/*#content {width:850px;}*/

/* SLIKE */

.m-slike {
    margin:0 auto;
}

.m-slika {
    float:left;
    width: 31.3333%;
    margin: 0 1%;
    position: relative;
    height:185px;
    overflow: hidden;
    line-height: 185px;
}

.m-slika a {
    color: #000;
    display: block;
    line-height: 185px;
    height: 185px;
    text-align: center;
}

.m-slika .slika {
    display: inline-block;
    vertical-align: middle;
    height: 140px;
    margin-top: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px #bbb;
    border: 1px solid #555;
    -moz-transition:all 0.2s ease-out;
    -ms-transition:all 0.2s ease-out;
    -o-transition:all 0.2s ease-out;
    -webkit-transition:all 0.2s ease-out;
    transition:all 0.2s ease-out;
    border-radius: 3px;
}

.m-slika:hover .slika {
    height: 170px;
    margin: 0;
}

.m-slika img {
    width: 100%;
    padding:0;
    margin:0;
}

.m-slika:hover img {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
    opacity: 0.90;
    box-shadow: 0 2px 13px #747474;
}

.m-slika .info {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -moz-transition:all 0.2s ease-out;
    -o-transition:all 0.2s ease-out;
    -webkit-transition:all 0.2s ease-out;
    transition:all 0.2s ease-out;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 20px;
}

.m-slika:hover .info {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

.m-slika .info p {
    display: inline-block;
    background-color: white;
    background-color: rgba(0,0,0,0.7);
    box-shadow: 0 0 0 1px rgba(255,255,255,0.1);
    color: white;
    margin: 0;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 14px;
    max-width: 220px;
    text-shadow: 0 1px 1px #555;
}

.album-title {
    width: 800px;
    margin: 0 auto 0 10px;
    height: 1.5em;
    padding-top:0.5em;
    margin-bottom:2em;
}

.album-title .gumb {
    float: left;
    margin-right: 1em;
    text-align: center;
    line-height: 30px;
    background-color: white ;
    box-shadow: 0 0 1px #333;
    padding: 0;
}

.album-title .gumb h2 {
    margin: 0;
}

.album-title .gumb a {
    font-size:18px;
    color:#222;
    font-family: 'fontello';
    padding: 5px 10px;
}
.album-title .gumb:hover {
  box-shadow: 0 0 2px #000;
}

.album-info {
    margin: 0 12px 15px;
    border-bottom: 2px dotted #ddd;
    padding-bottom: 10px;
    font-size: 14px;
    text-transform: uppercase;
}

.album-info p {
    margin: 5px 0;
    line-height: 20px;
}

.album-description {
}

/* RESPONSIVE ! */

@media only screen
and (max-width : 1080px) {

    .m-album {
        width: 43.3%;
    }
}

@media only screen
and (max-width : 850px) {

    .news-item {
        width: 100%;
        margin-right: 0;
    }

    .top-menu {
        max-width: 49%;
    }
}

@media only screen
and (max-width : 650px) {

    .page-nav {
        max-width: 49%;
    }

    body {
        background: #444;
    }

    .page-container {
        width: auto;
        border:0;
        margin: 0;
        border-radius: 0;
    }

    .header-pic {
        display: none;
    }

    .page-header {
        padding: 0;
        width: 100%;
        height: auto;
        overflow: visible;
        min-height: 125px;
    }


    .top-menu {
        right: 70px;
        top: 0;
        width: 0;
        left: auto;
        bottom: auto;
        padding-bottom: 0;
        z-index:100;
        background: rgba(25,25,25,1);
        border-radius: 0 0 15px 0;
        border: 1px solid #111;
        overflow: visible;
    }

    .top-menu.open-menu {
        right: 70px;
        width: auto;
        left: 0;
        max-width: none;
        padding-top: 88px;
    }

    .top-menu:before {
        content: '\E734';
        color: #fe7929;
        font-family: fontello;
        position: absolute;
        width: 30px;
        right: -70px;
        padding: 18px 19px;
        top: 0;
        z-index:100;
        font-size: 210%;
        line-height: 1.5em;
        text-align: right;
    }

    .top-menu.open-menu:before {
        color: #fff;
    }

    .top-menu-prompt {
        position: absolute;
        right: -5px;
        top: 22px;
        font-size: 28px;
    }

    .top-menu.open-menu #top-menu-prompt {
        display: none;
    }

    .top-menu-prompt.prompt-blink {
        background: none;
        color: black;
    }



    .top-menu a {
        color: #FE7929;
        position: relative;
        display: none;
        font-weight: normal;
        font-size: 22px;
        text-align: left;
        padding: 0 15px;
        line-height:2.2em;
        border-top: 1px solid rgba(255,255,255, 0.05);
        text-shadow: none;
    }

    .top-menu-prompt + a {
        border-top:1px solid #444;
    }

    .top-menu.open-menu a{
        display: block;
    }

    .logo {
        margin:5px 10px 8px;
        z-index: 200;
    }

    .header-scroll {
        height: auto;
        float: none;
        width: auto;
        clear: both;
        max-width: 100%;
        border-top: 1px solid #333;
        padding: 5px 0 10px;
        background: #191919;
    }

    .header-scroll-control {
        display: block;
        position: absolute;
        z-index: 100;
        height: 28px;
        line-height: 34px;
        font-size: 30px;
        font-weight: bold;
        font-family: 'fontello';
        right: 10px;
        top: 7px;
        padding: 10px;
        background: #222;
        border-radius: 10px;
        color: white;
        width: 28px;
        text-align: center;
    }

    .header-scroll.scroll-expanded .header-scroll-control {
        background: #333;
        color: #eee;
    }


    .header-scroll .item {
        display: none;
        font-size: 20px;
        margin: 0;
        border-bottom: 0;
        padding: 0 5px 0;
        -webkit-transition: none;
           -moz-transition: none;
            -ms-transition: none;
             -o-transition: none;
                transition: none;
    }

    .header-scroll .item:hover {
        background: none;
        border-bottom: 1px solid #191919;
        margin-left: 0;
    }

    .header-scroll.scroll-expanded .item {
        display: block;
    }

    .header-scroll .item img {
        top: 3px;
        border-bottom: 0;
        height: 42px;
        width: 42px;
    }

    .header-scroll #event-0{
        display: block;
        padding-right: 3em;
    }

    .header-scroll #event-0 a{
        width: 80%;
    }

    .header-scroll .item-top {
        height: 30px;
    }

    .header-scroll-viewport {
        margin: 0;
    }

    .left-column {
        margin: 0;
        padding: 0 10px;
        clear: left;
    }

    .club-left {
        max-width: 100%;
    }

    .left-column table {
        font-size: 1.6em;
        margin-bottom: 15px;
    }

    .right-column {
        clear:left;
        float: left;
        width: 97%;
        padding: 10px 0;
    }

    .right-column.club-right {
        width: auto;
        max-width: 100%;
    }

    .right-column > div {
        display: none;
        float: left;
        margin: 0 5px;
    }

    .vsep {
        clear: none;
    }

    .right-column .search-box {
        display: block;
        width: 100%;
    }

    .input-search {
        width: 90%;
    }

    .input-search:focus {
        font-size: 16px;
        color: #000;
        width: 90%;
    }

    .archive-table {
        font-size: 16px;
    }

    .archive-table td {
        padding: 7px 0;
    }

    .archive-date {
        width: 120px;
    }

    .m-album {
        width: 93.6%;
    }

    .header-social-links {
        display: none;
    }

}

@media screen and (max-width : 850px) and (orientation:landscape) {
    .header-scroll .item {
        margin-left: 58px;
    }
}

iframe { max-width: 100%;}
