<a id="cal_prev_month" href="javascript:GetCalendar({{ previous_date|date:"Y,n,d" }})">&laquo;</a>
<a href="#" class="month">{{ current_date|date:"F 'y" }}</a>
<a id="cal_next_month" href="javascript:GetCalendar({{ next_date|date:"Y,n,d" }})">&raquo;</a>

<span>P</span>
<span>U</span>
<span>S</span>
<span>Č</span>
<span>P</span>
<span>S</span>
<span>N</span>

{% for day, class in dates %}

<a href="{% url 'events-date' day|date:"Y-m-d" %}" class="date-{{ day|date:"Y-m-d" }} {{ class }}">{{ day|date:"j" }}</a>

{% endfor %}
