{% extends "subpage.html" %}
{% load i18n %}
{# Translators: O klubu #}
{% block title %} - {% trans "about-title" %}{% endblock title %}

{% block subpage_content %}
    <div class="item" style="margin-top: 0px; border: 0px;">
        <h1>KSET - {% trans "description-short" %}</h1>

        {% trans "club-description-full-first-section" %}
        <img src="{{ STATIC_URL }}frontend/images/kset-dvorana_01.jpg" alt="kset">
        {% trans "club-description-full-second-section" %}

    </div>
{% endblock subpage_content %}
