{% extends "subpage.html" %}

{% block title %} - O klubu{% endblock title %}

{% block subpage_content %}

  <div class="item" style="margin-top: 0px; border: 0px;">
    <h1>KSET - Klub Studenata ElektroTehnike</h1>

    <p>To je bivša <strong>kotlovnica</strong> smještena na sjeveroistočnom uglu najboljeg fakulteta na svijetu (i pored C zgrade FER-a). Neki ljudi tvrde da je <strong>"Rupa"</strong> unatoč brojnim nelogičnostima te izjave. Za početak, Rupa je mjesto u sjeverozapadnoj Hrvatskoj na granici sa Slovenijom.</p>

    <p>U današnjem obliku <strong>Klub postoji već 37 godina.</strong> On funkcionira vrlo dobro, hvala na pitanju, i broji <strong>9 sekcija</strong>: <strong>bike</strong> (profesionalni obožavatelji međunožnog gurala), <strong>disco</strong> (navodno za muziku), <strong>dramska</strong> (misle da znaju glumiti), <strong>računarska</strong> (za geekove i geekice), <strong>tehnička</strong> (za manualni rad), <strong>glazbena</strong> (za propale glazbenike koji su se bacili u opremanje, ma imaju oni i bend), <strong>planinarska</strong> a.k.a. P.I.J.A.N.D.U.R.E. (s redovitim gubljenjem po šumama upoznaju prirodu i svoj unutrašnji mir), <strong>video</strong> (snimaju i opskrbljuju KSET onim prekrasnim bićima koje nazivamo žene) i <strong>foto</strong> (za umjetnike s pravim aparatima). Više o njima možete saznati kasnije ili navratite do KSET-a i pitajte prvu osobu na koju naiđete.
    </p>
    <img src="{{ STATIC_URL }}frontend/images/kset-dvorana_01.jpg" alt="kset">

    <p>Sada koja riječ o nekim administrativni stvarima. <strong>KSET je klub volontera.</strong> To znači da sve što radimo je rezultat činjenice da nemamo pametnijeg posla u životu. Zašto bi to itko radio? <strong>Jer je zabavno.</strong> KSET postane mjesto na kojem možete <strong>popiti kavu</strong>, sjesti s <strong>prijateljima</strong> i <strong>kartati</strong> ili <strong>surfati</strong> u pauzama između predavanja ili se na kraju dana opustiti uz <strong>šah ili dobar film.</strong></p>

    <p>Za vrijeme ispita Klub se pretvara u mjesto u kojem svi uče, ali će članovi uvijek izdvojiti vremena da vam pokažu zadatak koji ne znate riješiti ili pojasniti nešto što vam je jasno kao i poljoprivreda Eskimu. U svakoj sekciji može se <strong>primijeniti ili proširiti znanje</strong> stečeno na fakultetu (čak i u planinarskoj) i skupiti hrpu prijatelja.</p>

    <p><strong>Članarina</strong> u KSET-u iznosi 100 kn, uz članstvo dobijete mogućnost konzumiranja pića na šanku po <strong>studenskim cijenama</strong> (kava 3 kn, sok 3,5...), besplatne upade srijedom na različite slušaonice... Čitajte dalje ili dođite petkom između 13 i 14h u Klub i saznajte sami...</p>

  </div>
{% endblock subpage_content %}
