{% extends 'program.html' %}

{% load fb_versions %}

{% block title %}{% for event in events %} - {{ event.title }} {% endfor %}{% endblock title %}

{% block extrahead %}
    {% with events|first as event %}
        <meta property="og:title" content="{{ event.title }}" />
        <meta property="og:type" content="event" />
        <meta property="og:url" content="{{ request.build_absolute_uri }}" />
        <meta property="og:description" content="{% if event.description %}
        {{ event.description|striptags|truncatechars:160 }}
        {% else %}
        {{ event.content|striptags|truncatechars:160 }}
        {% endif %}" />
        <meta property="og:image" content="{{ BASE_URL }}{{ MEDIA_URL }}{% if event.thumb %}{{ event.thumb }}{% endif %}" />
    {% endwith %}
{% endblock %}

{% block metadesc %}{% with events|first as event %}
{% if event.description %}
{{ event.description|striptags|truncatechars:160 }}
{% else %}
{{ event.content|striptags|truncatechars:160 }}
{% endif %}
{% endwith %}{% endblock %}

{% block metatags %}event, kset, concert, nightlife{% for event in events %}, {{ event.tags_to_str }}{% endfor %}{% endblock %}

{% block leftcolumn %}

{% for event in events %}

  {% include "event-single.html" %}

{% endfor %}

{% endblock %}
