{% extends 'program.html' %}

{% load fb_versions %}

{% block extrahead %}
    {% with events|first as event %}
        <meta property="og:title" content="{{ event.title }}" />
        <meta property="og:description" content="{{ event.description|striptags|truncatechars:140 }}" />
        <meta property="og:image" content="{{ BASE_URL }}/{% if event.thumb %}{% version event.thumb 'medium' %}{% endif %}" />
    {% endwith %}
{% endblock %}

{% block leftcolumn %}

{% for event in events %}

  {% include "event-single.html" %}

{% endfor %}

{% endblock %}
