{% extends 'program.html' %}

{% load fb_versions %}

{% block extrahead %}
<meta property="og:title" content="{{ event.title }}" />
<meta property="og:description" content="www.kset.org" />
<meta property="og:image" content="{% if event.thumb %}{% version event.thumb 'medium' %}{% endif %}" />
{% endblock %}

{% block leftcolumn %}

<article class="item clearfix" itemscope itemtype="http://schema.org/Event">


  <section class="share-buttons">
    <span class="share-text">Podijeli:</span>
    <a href="http://twitter.com/home?status=http://www.kset.org{% url event-slug event.slug %}" class="share-btn shareTw"></a>
    <a href="http://www.facebook.com/sharer.php?u=http://www.kset.org{% url event-slug event.slug %}" class="share-btn shareFb"></a>
  </section>

  <h1 class="single-title" itemprop="name">{{ event.title }}</h1>

  <section class="single-thumb">
    {% if event.thumb %}
      <img src="{% version event.thumb 'semibig' %}" class="thumb" />
    {% endif %}
    <h3><time itemprop="startDate" datetime="{{ event.date|date:"Y-m-d" }}T{{ event.time|time:"H:i" }}" >{{ event.date|date:"l, j. E Y." }} u {{ event.time|time:"H:i" }}</time></h3>
  </section>

  <section class="icontent">

    <div itemprop="description">{{ event.description|safe }}</div>
    {{ event.content|safe }}
    <span class="single-tags"><b>tags:</b> {{ event.tags }} </span>

  </section>

</article>

{% endblock %}
