{% extends 'index.html' %}
{% load fb_versions %}


{% block title %} - Foto Galerija: {{ album.title }}{% endblock title %}

{%block extrahead %}
<meta property="og:title" content="{{ album.title }} - {{ album.date_of_event }}" />
<meta property="og:description" content="Copyright by: {{ album.photographer }}" />
<meta property="og:image" content="{% version album.thumb 'gallerytb' %}" />
{% endblock %}

{% block content %}
<section id="gallery-album">

    <header>
        <div class="album-title">
          <div class="gumb"><h2><a href="{% url 'gallery_category_albums' category=category %}">Povratak</a></h2></div>
          <span><h2>{{ album.title }} - {{ album.date_of_event }}</h2></span>
        </div>


        <div class="album-info">
            {{ album.description|safe }}
          <p class="album-author">Copyright by: {% if album.photographer.url %}<a href='{{ album.photographer.url }}'>{{ album.photographer.name }}</a>{% else %}{{ album.photographer.name }}{% endif %}</p>
        </div>
    </header>



  <section id="m-slike" class="m-slike clearfix">
    {% for image in images %}

    <article class="m-slika">
      <a class="ctrl-gallery-pic" href="{% version image.upload_path 'galleryimage' %}" rel="lightbox[setofimagesinalbum]" title="Copyright {% if image.photographer.url %}<a href='{{ image.photographer.url }}'>{{ image.photographer.name }}</a>{% else %}{{ image.photographer.name }}{% endif %} {% if image.caption %} :: {{ image.caption|striptags|default:"" }}{% endif %}">
        <div class="slika">
          <img src="{% version image.upload_path 'gallerytb' %}" />
        </div>

        {% if image.caption %}
          <div class="info">
            <p>{{ image.caption|default:"" }}</p>
          </div>
        {% endif %}

      </a>
    </article>
    {% endfor %}

  </section>

</section>

{% endblock %}

