{% extends 'index.html' %}
{% load i18n %}
{% load fb_versions %}

{# Translators: Foto Galerija: #}
{% block title %} - {% trans "foto-gallery-title" %} {{ album.title }}{% endblock title %}

{% block content %}


    <section class="gallery-type-box">
        <a href="{% url 'gallery_category_albums' category='live' %}" title="KSET live!">
            <img src="{{ STATIC_URL }}images/gallery/live.jpg" class="quimby_search_image">
            <hgroup class="gallery-type-text">
                <h2 class="gallery-type-title">KSET.live!</h2>
                {# Translators: galerija fotografija s koncerata održanih u KSET-u #}
                <h3 class="gallery-type-subtitle">{% trans "kset-live-subtitle" %}</h3>
            </hgroup>
        </a>
    </section>

    <section class="gallery-type-box">
        <a href="{% url 'gallery_category_albums' category='foto' %}" title="KSET.foto">
            <img src="{{ STATIC_URL }}images/gallery/foto.jpg" class="quimby_search_image">
            <hgroup class="gallery-type-text">
                <h2 class="gallery-type-title">KSET.foto</h2>
                {# Translators: galerija fotografija članova foto sekcije #}
                <h3 class="gallery-type-subtitle">{% trans "kset-foto-gallery-subtitle" %}</h3>
            </hgroup>
        </a>
    </section>


    <div class="gallery-welcome">
        {# Translators: Dobrodošli na KSET foto galeriju! #}
        <h1 class="gallery-welcome-title">{% trans "foto-gallery-welcome-title" %}</h1>
        <h3 class="gallery-welcome-version">v2.0</h3>
        <p>
            {# Translators: Jednog lijepog KSETovskog dana, u proljeće 2004. godine, rodila se ideja kako bi lijepo bilo fotografije nastale marljivim škljocanjem članova fotosekcije izvući iz mraka i pokazati javnosti. Tako smo odlučili stvoriti vlastiti virtualni izložbeni prostor. Zašto? Zato što možemo... :-) . A i zato što je stvarnih prostora za izložbu  malo, pa do njih nije niti lako doći. #}
            {% trans "foto-gallery-desc-part-1" %}
        </p>
        <p>
            {# Translators: Počeli smo s galerijom #}
            {% trans "foto-gallery-desc-part-2" %}
            <a href="{% url 'gallery_category_albums' category='live' %}" title="KSET live!">KSET.live!</a>
            {# Translators: koja tematski pokriva koncertna događanja u KSET-u, a njih ima uistinu mnogo. Ta događanja ostaju zabilježena mnoštvom fotografija od kojih autori biraju najbolje i objavljuju ih ovdje. No, kako ne bi sve ostalo na KSET-u i u KSET-u, fotosekcija pokazuje da se može, zna i želi izražavati fotografijom pa je tako postavljena i galerija #}
            {% trans "foto-gallery-desc-part-3" %} <a href="{% url 'gallery_category_albums' category='foto' %}"
                                                      title="KSET.foto">KSET.foto</a>.
            {# Translators: Tu se mogu pronaći fotografije iz života, života s fotoaparatom u ruci. #}
            {% trans "foto-gallery-desc-part-4" %}
        </p>
        <p>
            {# Translators: Početkom studenog 2011. godine otvara se nova, ljepša i preglednija galerija! Stara i nepregledna galerija odlazi u arhivu, dok novu, ljepšu i organiziraniju galeriju možete vidjeti pred sobom. U "KSET.live!" dijelu galerije možete pronaći fotografije koje su zabilježene analognim i digitalnim fotoaparatima. Nakon što otvorite album, na vrhu ćete vidjeti više informacija o tehnici korištenoj pri njegovom nastajanju. #}
            {% trans "foto-gallery-desc-part-5" %}
        </p>
        <p>
            {# Translators: Eto, od trenutka kad ste pročitali ovaj tekst pa nadalje, znajte da se ovdje održava stalna izložba radova fotosekcije. Postav izložbe nije stalan, on postaje bogatiji iz dana u dan - ne zaboravite navratiti ponovno i pogledati što ima novoga. A ako Vam ovo nije dovoljno, uvijek možete navratiti do KSET-a, jer se u njemu svaki mjesec održava nova izložba radova članova sekcije, ali i polaznika tečaja koji organizira fotosekcija. #}
            {% trans "foto-gallery-desc-part-6" %}
        </p>
        <p>
            {# Translators: Uživajte! #}
            {% trans "foto-gallery-desc-part-7" %}
        </p>
        <p>
                                  <span>
                                    <!--Fotosekciju trenutno vodi <b>Marko Kolarek</b>. <br />
                                    Novu galeriju je stvorio <b>Deni Bertović</b>. <br />
                                    Galeriju trenutno održava <b>Darjan Grilec</b>.-->
                                  </span>
        </p>
    </div>

    <div class="clear"></div>

{% endblock %}
