{% extends 'index.html' %}
{% load fb_versions %}


{% block title %} - Foto Galerija{% endblock title %}

{% block content %}

	<!-- ... TU SAM ... -->
<section id="gallery" class="gallery">
    <nav class="gallery-menu">
        {% if years %}
            <h2 class="gallery-month-title gallery-top-title">
              <a href="/gallery/" class="gallery-backlink"><i class="icon-left-open"></i> <i class="icon-picture"></i></a>

              {% if category == 'live' %}
                <div class="gallery-years">
                  {% for year in years %}
                    <a class="gallery-year {% if year == active_year %}gallery-year-active{%endif%}" href="{% url 'gallery_category_albums_by_year' category=category year=year %}">{{ year }}.</a>
                  {% endfor %}
                </div>
              {% endif %}

              <div class="gallery-top-title-text">{% if category == 'live' %}KSET.live!{% else %}KSET.foto{% endif %}</div>

            </h2>
        {% else %}
            <div>Uskoro... </div>
        {% endif %}



    </nav>


    <div class="gallery-albums-wrapper">

    {% for a in albums %}

        {% if category == 'live' %}
          {% ifchanged a.date_of_event.month %}
          <div class="clearfix"></div>
          </div>
              <h2 class="gallery-month-title"><i class="icon-calendar-inv"></i> {{ a.date_of_event|date:"F Y." }}</h2>

          <div class="gallery-albums-wrapper">
          {% endifchanged %}
        {% endif %}

        <article class="m-album">

           <a href="{% url 'gallery_view_album' category=a.category album_slug=a.slug %}">

              <div class="slika">
                <!-- slika dimenzije 255x170 -->
                <img src="{% version a.thumb 'gallerypic' %}" alt="{{ a.title }}"/>
              </div>
              <div class="ime">
                <!--<div class="transparent"></div>-->
                <h2><i class="icon-picture"></i> {{ a.title }}</h2>
              </div>
              <section class="tekst">
                <p class="gallery-author"><i class="icon-camera"></i> <strong> {{ a.photographer }}</strong></p>
                <p class="gallery-date"><i class="icon-calendar-inv"></i> {{ a.date_of_event }}</p>
              </section>
            </a>
        </article>

    {% endfor %}
      <div class="clearfix"></div>
    </div>

</section>

{% endblock %}
