{% extends 'index.html' %}
{% load fb_versions %}


{% block title %} - Foto Galerija: {{ album.title }}{% endblock title %}

{%block extrahead %}
<meta property="og:title" content="{{ album.title }} - {{ album.date_of_event }}" />
<meta property="og:description" content="Copyright by: {{ album.photographer }}" />
<meta property="og:image" content="{% version album.thumb 'galleryimage' %}" />
{% endblock %}

{% block content %}
<section id="gallery-album" class="gallery">

    <header>
        <div>
          <h2 class="gallery-top-title gallery-month-title">

              <a href="{% url 'gallery_category_albums' category=category %}" class="gallery-backlink"><i class="icon-left-open"></i> <i class="icon-picture"></i></a>
              <span class="gallery-top-title-text">{{ album.title }} - {{ album.date_of_event }}</span>
          </h2>

        </div>


        <div class="album-info">
          <div class="album-author"><p><strong>Copyright by: {% if album.photographer.url %}<a href='{{ album.photographer.url }}'>{{ album.photographer.name }}</a>{% else %}{{ album.photographer.name }}{% endif %}</strong></p></div>

          <div>{{ album.description|safe }}</div>
        </div>
    </header>



  <section id="m-slike" class="m-slike clearfix">
    {% for image in images %}

    <article class="m-slika">
      <a class="ctrl-gallery-pic" href="{% version image.upload_path 'galleryimage' %}" rel="lightbox[setofimagesinalbum]" title="Copyright {% if image.photographer.url %}<a href='{{ image.photographer.url }}'>{{ image.photographer.name }}</a>{% else %}{{ image.photographer.name }}{% endif %} {% if image.caption %} :: {{ image.caption|striptags|default:"" }}{% endif %}">
        <div class="slika">

          <img src="{% version image.upload_path 'gallerypic' %}" />
        </div>

        {% if image.caption %}
          <div class="info">
            <div class="gallery-info-inner">{{ image.caption|safe|default:"" }}</div>
          </div>
        {% endif %}

      </a>
    </article>
    {% endfor %}

  </section>

</section>

{% endblock %}

