{% load fb_versions %}

<section id="header-scroll" class="header-scroll">
  <a id="header-scroll-control" class="header-scroll-control">+</a>
  <div id="header-scroll-viewport" class="header-scroll-viewport {% if not header_events %} header-scroll-viewport-empty {% endif %}">

    {% for event in header_events %}
    <div itemscope itemtype="http://schema.org/Event" >

    <a class="item" id="event-{{ forloop.counter0 }}" href="{% url 'event_slug' event.slug %}" title="{{ event.title }}" itemprop="url">

      {% if event.thumb %}
        <img src="{% version event.thumb 'fb_thumb' %}" class="scroll-thumb" />
      {% else %}
        <img src="/static/images/nopicture.png" class="scroll-thumb" />
      {% endif %}

      <div class="item-top">
        <time class="date" itemprop="startDate" datetime="{{ event.date|date:"c" }}">
            {% if event.date == today %}<span class="scroll-today">Danas</span>{% endif %}
            {{ event.date|date:"d" }}<small>/{{ event.date|date:"m" }}</small>
        </time>
        <span class="item-top-title" itemprop="name">{{ event.title }}</span>
      </div>

      <div class="item-bottom">
        <div class="date icon-calendar"> {{ event.date|date:"D"}}</div>
        <span class="tags icon-tags">
          {% if event.tags_to_str|length < 22 %}
            {{ event.tags_to_str }}
          {% else %}
            {{ event.tags_to_str|stringformat:".22s" }}...
          {% endif %}
        </span>
        {% if event.price %} &mdash; {{ event.price }} {% endif %}
        {% if event.time %} &mdash; od <time itemprop="doorTime">{{ event.time|time:"H" }}</time>h {% endif %}
      </div>

    </a>
    </div>
    {% endfor %}

  </div>

</section>
