{% load fb_versions %}

<section id="header-scroll" class="header-scroll">
  <a id="header-scroll-control" class="header-scroll-control">+</a>
  <div id="header-scroll-viewport" class="header-scroll-viewport {% if not header_events %} header-scroll-viewport-empty {% endif %}">

    {% for event in header_events %}
    <a class="item" id="event-{{ forloop.counter0 }}" href="{% url 'event_slug' event.slug %}" title="{{ event.title }}">

      {% if event.thumb %}
        <img src="{% version event.thumb 'fb_thumb' %}" class="scroll-thumb" />
      {% else %}
        <img src="/static/images/nopicture.png" class="scroll-thumb" />
      {% endif %}

      <div class="item-top">
        <span class="date">{% if today_active and forloop.first %}<span class="scroll-today">Danas</span>{% endif %}{{ event.date|date:"d" }}<small>/{{ event.date|date:"m" }}</small></span>
        <span class="item-top-title">{{ event.title }}</span>
      </div>

      <div class="item-bottom">
        <div class="date"><span class="fontello">&#x1F4C5;</span> {{ event.date|date:"D"}}</div>
        <span class="tags">
          {% if event.tags|length < 22 %}
            {{ event.tags }}
          {% else %}
            {{ event.tags|stringformat:".22s" }}...
          {% endif %}
        </span>
        {% if event.price %} &mdash; {{ event.price }} {% endif %}
        {% if event.time %} &mdash; od {{ event.time|time:"H" }}h {% endif %}
      </div>

    </a>
    {% endfor %}

  </div>

</section>
