{% extends 'index.html' %}

{% block extrahead %}
<meta property="og:title" content="{{ flatpage.title }}" />
<meta property="og:description" content="www.kset.org" />
<meta property="og:image" content="http://profile.ak.fbcdn.net/hprofile-ak-snc4/188077_278747662213979_1434945346_n.jpg" />
{% endblock %}


{% block content %}


<div id="right" class="right-column">
  <h1><span class="orange">&raquo;</span> Galerija </h1>
  <a href="{% url 'gallery_index' %}"><img src="{{ MEDIA_URL}}images/design/fotogalerija.jpg" /></a>
  <h1><span class="orange">&raquo;</span> Kratki filmovi</h1>
</div>


<div id="left" class="left-column">

  <h1>{{ flatpage.title }}</h1>
  {{ flatpage.content }}

</div>

{% endblock %}
