{% extends 'index.html' %}
{% load i18n %}
{% load fb_versions %}

{# Translators: Multimedija #}
{% block title %} - {% trans "multimedia-title" %}{% endblock title %}

{% block content %}

    <section class="gallery-type-box">
        <a href="{% url 'gallery_category_albums' category='live' %}" title="KSET live!">
            <img src="{{ STATIC_URL }}images/gallery/live.jpg" class="quimby_search_image">
            <hgroup class="gallery-type-text">
                <h2 class="gallery-type-title">KSET.live!</h2>
                <h3 class="gallery-type-subtitle">{% trans "kset-live-subtitle" %}</h3>
            </hgroup>
        </a>
    </section>

    <section class="gallery-type-box">
        <a href="{% url 'gallery_category_albums' category='foto' %}" title="KSET.foto">
            <img src="{{ STATIC_URL }}images/gallery/foto.jpg" class="quimby_search_image">
            <hgroup class="gallery-type-text">
                <h2 class="gallery-type-title">KSET.foto</h2>
                <h3 class="gallery-type-subtitle">{% trans "kset-foto-gallery-subtitle" %}</h3>
            </hgroup>
        </a>
    </section>
    <div class="clear"></div>

    <section class="stream">
        <h1 class="stream-title">Live video stream</h1>


        <!-- orig: 320 x 240 -->
        <video controls autoplay width="960" height="720">
            <source src="http://zaphod.kset.org:8000/consume/streamatkset" type="video/webm">
            Your browser does not support the <code>video</code> element.
        </video>
    </section>


{% endblock %}
