{% extends 'program.html' %}

{% load fb_versions %}

{% block title %} - {{news.subject}}{% endblock title %}
{% block extrahead %}
<meta property="og:title" content="{{ news.subject }}" />
<meta property="og:description" content="www.kset.org" />
<meta property="og:image" content="{% if news.thumb %}{% version news.thumb 'medium' %}{% endif %}" />
{% endblock %}


{% block leftcolumn %}

<div class="item clearfix">

  <section class="single-description">

    <h1 class="single-title" itemprop="name">{{ news.subject }}</h1>



    <div itemprop="description">
      {{ news.description|safe }}
      {{ news.content|safe }}
    </div>

  </section>




  <section class="single-thumb">
    {% if news.thumb %}
      <img src="{% version news.thumb 'semibig' %}" class="thumb" />
    {% endif %}


    <div class="single-date single-details">
        <div class="single-date-day">{{ news.created_at|date:"l" }}</div>
        <div class="single-date-date">{{ news.created_at|date:"j. E" }}</div>
        <div>{{ news.created_at|time:"H:i" }}</div>
    </div>

  </section>

</div>

{% endblock %}
