{% extends 'program.html' %} {% load fb_versions %} {% block leftcolumn %}


<!-- NEWS -->
{% if news %}
<section class="news-box vijesti clearfix">

    <h1 class="news-header">Vijesti</h1>

    {% for item in news %}

    <article class="news-item news-item-{{ forloop.counter0 }} {% cycle 'odd' 'even' %}">

        {% if item.thumb %}
        <div class="news-item-thumb">
            <a href="{% url 'news_slug' slug=item.slug %}">
                <img src="{% version item.thumb 'event_big' %}" class="thumb" />
            </a>
        </div>
        {% endif %}


        <h2 class="news-item-title">
            <a href="{% url 'news_slug' slug=item.slug %}">{{ item.subject }}</a>
            </h2>
        <div class="news-item-description">
            <h3 class="news-item-date">{{ item.created_at|date:"l, j. E" }}</h3>

            <div class="news-item-text">

                {{ item.description|safe }}

                <div id="{{ item.slug }}" class="{% if item.description %}hide{% endif %}">
                    {{ item.content|safe }}
                </div>

                {% if item.content and item.description %}
                <a id="link-{{ item.slug }}" href="javascript:flip_element_by_id('{{ item.slug }}')" class="readmore">opširnije ...</a>
                {% endif %}
            </div>

        </div>


    </article>

    {% endfor %}

</section>
{% endif %}

<!-- DNEVNI -->
{% if daytime_events %}
<section class="news-box dnevni clearfix">

    <h1 class="news-header">Dnevni program</h1>

    {% for item in daytime_events %}

    <article class="news-item news-item-{{ forloop.counter0 }} {% cycle 'odd' 'even' %}">

        {% if item.thumb %}
        <div class="news-item-thumb">
            <a href="{% url 'event_slug' slug=item.slug %}">
                <img src="{% version item.thumb 'event_big' %}" class="thumb" />
            </a>
        </div>
        {% endif %}

        <h2 class="news-item-title">
            <a href="{% url 'event_slug' slug=item.slug %}">{{ item.title }}</a>
        </h2>
        <div class="news-item-description">
            <h3 class="news-item-date">{{ item.date|date:"l, j. E" }}</h3>


            {{ item.description|safe }}

            <div id="{{ item.slug }}" class="{% if item.description %}hide{% endif %}">
                {{ item.content|safe }}
            </div>

            {% if item.content and item.description %}
            <a id="link-{{ item.slug }}" href="javascript:flip_element_by_id('{{ item.slug }}')" class="readmore">opširnije ...</a>
            {% endif %}

        </div>


    </article>

    {% endfor %}

</section>
{% endif %}

<!-- NOCNI  -->
{% if events %}
<section class="news-box nocni clearfix">

    <h1 class="news-header">Večernji program</h1>

    {% for item in events %}

    <article class="news-item news-item-{{ forloop.counter0 }} {% cycle 'odd' 'even' %}">

        {% if item.thumb %}
        <div class="news-item-thumb">
            <a href="{% url 'news_slug' slug=item.slug %}">
                <img src="{% version item.thumb 'event_big' %}" class="thumb" />
            </a>
        </div>
        {% endif %}


        <h2 class="news-item-title">
            <a href="{% url 'event_slug' slug=item.slug %}">{{ item.title }}</a>
        </h2>
        <div class="news-item-description">
            <h3 class="news-item-date">{{ item.date|date:"l, j. E" }}</h3>

            <div class="news-item-text">

                {{ item.description|safe }}

                <div id="{{ item.slug }}" class="{% if item.description %}hide{% endif %}">
                    {{ item.content|safe }}
                </div>

                {% if item.content and item.description %}
                <a id="link-{{ item.slug }}" href="javascript:flip_element_by_id('{{ item.slug }}')" class="readmore">opširnije ...</a>
                {% endif %}

            </div>
        </div>


    </article>

    {% endfor %}

</section>
{% endif %} {% endblock %}
