{% extends 'program.html' %}
{% load i18n %}

{# Translators: Arhiva novosti #}
{% block title %} - {% trans "news-archive-title" %}{% endblock title %}

{% block leftcolumn %}

<div class="item clearfix">

  <div class="icontent">

    <table class="archive-table">
      {% for item in news %}

      {% ifchanged %} </table><h2>{{ item.created_at|date:"F Y." }}</h2><table class="archive-table"> {% endifchanged %}

      <tr>
        <td class="archive-date">{{ item.created_at|date:"d.m.Y." }} </td>
        <td class="archive-title"><a href="{% url 'news_slug' item.slug %}">{{ item.subject }}</a></td>
      </tr>

      {% endfor %}
    </table>

  </div>

</div>

{% endblock %}
