{% extends 'index.html' %}
{% load fb_versions %}

{% block content %}

<section id="left" class="left-column">

  {% block leftcolumn %}

  {% endblock %}

</section>

<aside id="right" class="right-column">

  <div class="search-box">
    <form id="form-search" class="form-search" method="GET" action="{% url 'search' %}">
      <input id="input-search" class="input-search" type="text" name="query" placeholder="Search me"/>
    </form>
  </div>

  <div class="vsep"></div>

    <div class="calendar-box">
      <div id="calendar" class="calendar"></div>
    </div>

    <div class="vsep"></div>

{% if sticky_news %}
    <div class="right-box sticky-news-box">
      <h1>Obavijesti</h1>
      {% for news in sticky_news %}
        <a href="{% url 'news_slug' slug=news.slug %}"><img src="{% version news.thumb 'sticky' %}"/></a>
        <p>{{ news.subject }}</p>
      {% endfor %}
    </div>
    <div class="vsep"></div>
{% endif %}

{% if latest %}
    <div class="right-box gallery-box">
      <h1>Galerija</h1>
        {% if latest %}
          {% for a in latest %}
            <a href="{% url 'gallery_view_album' category=a.category album_slug=a.slug %}"><img src="{% version a.thumb 'sticky' %}"/></a>
            <p>{{ a.title }}</p>
          {% endfor %}
        {% endif %}
    </div>

    <div class="vsep"></div>
{% endif %}

    <div class="fer-box">
        <h1>Uvijek je tu za nas</h1>
        <a href="http://www.fer.hr/" class="logo-fer"></a>
        <p><a href="http://www.fer.hr/">Fakultet elektrotehnike<br />i računarstva</a></p>
    </div>

    <div class="vsep"></div>

    <div class="uticnice-box">

      <h1>Utičnice ...</h1>
      <p>
        <a href="http://www.sczg.hr/" target="_blank">Studentski centar</a><br />
        <a href="http://www.szzg.hr/" target="_blank">Studentski zbor</a><br />
        <a href="http://www.dirtyoldempire.com/" target="_blank">Dirty old shop</a><br />
        <a href="http://www.mmv-auris.hr/" target="_blank">MMV-Auris</a><br />
        <a href="http://www.mipro.hr/" target="_blank">MIPRO</a><br />
        <a href="http://www.radiostudent.hr/" target="_blank">Radio Student</a><br />
        <a href="http://www.muzika.hr/" target="_blank">Muzika.hr</a><br />
        <a href="http://www.terapija.net/" target="_blank">Terapija.net</a><br />
        <a href="http://www.linux.hr/" target="_blank">HULK</a><br />
        <a href="http://www.razmjenavjestina.org/" target="_blank">Razmjena vjestina</a><br />
        <a href="http://www.carnet.hr/" target="_blank">CARNet</a><br />
        <a href="http://www.rep.hr/" target="_blank">Rep.hr</a><br />
        <a href="http://www.ciak.hr/" target="_blank">CIAK</a><br />
        <a href="http://www.naklikaj.com/" target="_blank">Naklikaj.com</a><br />
        <a href="http://www.idemvan.hr/" target="_blank">Idemvan.hr</a><br />
        <a href="http://www.ruziona.hr/" target="_blank">Ruziona.hr</a><br />
        <a href="http://www.tvoj-toner.com/" target="_blank">Tvoj Toner</a><br />
      </p>
    </div>

    <div class="vsep"></div>


    <div class="newsletter-box">
      {% include 'newsletter-form.html' %}
    </div>

</aside>




{% endblock %}
