{% extends 'index.html' %}
{% load i18n %}
{% load fb_versions %}

{% block content %}

    <section id="left" class="left-column">

        {% block leftcolumn %}

        {% endblock %}

    </section>

    <aside id="right" class="right-column">

        <div class="search-box">
            <form id="form-search" class="form-search" method="GET" action="{% url 'search' %}">
                <input id="input-search" class="input-search" type="text" name="query" placeholder="{% trans "search" %}"/>
            </form>
        </div>

        <div class="vsep"></div>

        <div class="calendar-box">
            <div id="calendar" class="calendar"></div>
        </div>

        <div class="vsep"></div>

        <div class="newsletter-box">

            <h3 class="right-box-title">Newsletter</h3>

            <form id="form-newsletter" class="form-newsletter">
                {% csrf_token %}

                <input type="text" name="email" id="newsletter-subscription" class="newsletter-subscription"
                       {# Translators: Vaša e-mail adresa #}
                       placeholder="{% trans "email.placeholder" %}"/>
                <input type="button" id="newsletter-submit" class="newsletter-submit" value="OK"/>
                <!-- TODO: CAPTCHA -->
            </form>

            {# Translators: Poruka #}
            <p id="newsletter-message" style="text-weight: bold; display: none;">{% trans "message" %}!</p>
        </div>

        <div class="vsep"></div>

        {% if latest %}
            <div class="right-box gallery-box">
                {# Translators: Foto galerija #}
                <h3 class="right-box-title">{% trans "foto_gallery" %}</h3>

                {% if latest %}
                    {% for a in latest %}
                        <a href="{% url 'gallery_view_album' category=a.category album_slug=a.slug %}">
                            <img src="{% version a.thumb 'semibig' %}"/>
                        </a>
                        <p>{{ a.title }}</p>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="vsep"></div>
        {% endif %}

        {% if sticky_news %}
            <div class="right-box sticky-news-box">
                {# Translators: Obavijesti #}
                <h3 class="right-box-title">{% trans "notifications" %}</h3>
                {% for news in sticky_news %}
                    <a href="{% url 'news_slug' slug=news.slug %}">
                        <img src="{% version news.thumb 'semibig' %}"/>
                    </a>
                    <p>{{ news.subject }}</p>
                {% endfor %}
            </div>
            <div class="vsep"></div>
        {% endif %}

        <div class="fer-box">
            {# Translators: Uvijek je tu za nas #}
            <h3 class="right-box-title">{% trans "fer_logo_title" %}</h3>

            <a href="http://www.fer.hr/" class="logo-fer">
                <img src="{{ STATIC_URL }}images/logos/fer.png" alt="Fakultet elektrotehnike i računarstva">
                {# Translators: Fakultet elektrotehnike <br> i računarstva #}
                <p>{% trans "fer" %}</p>
            </a>
        </div>

        <div class="vsep"></div>

        <div class="a1-box">
            {# Translators: Daje nam pristup internetu #}
            <h3 class="right-box-title">{% trans "a1_logo_title" %}</h3>

            <a href="https://www.a1.hr/" class="logo-a1">
                <img src="{{ STATIC_URL }}images/logos/a1.png" alt="A1">
                <p>A1</p>
            </a>
        </div>

        <div class="vsep"></div>

        <div class="uticnice-box">
            {# Translators: Utičnice #}
            <h3 class="right-box-title">{% trans "plugs" %}</h3>

      <p>
        <a href="http://www.sczg.unizg.hr/" target="_blank">Studentski centar</a><br />
        <a href="https://www.facebook.com/sz.unizg/" target="_blank">Studentski zbor</a><br />
        <a href="http://www.trecisvijet.com/" target="_blank">Treći svijet</a><br />
        <a href="http://www.perun.hr/" target="_blank">Perun.hr</a><br />
        <a href="http://www.soundguardian.com/" target="_blank">SoundGuardian</a><br />
        <a href="http://www.sound-report.com/" target="_blank">Sound Report</a><br />
        <a href="http://music-box.hr/" target="_blank">Music Box</a><br />
        <a href="https://www.pivovara-medvedgrad.hr/" target="_blank">Pivovara Medvedgrad</a><br />
        <a href="http://www.rockmark.hr/" target="_blank">Rockmark</a><br />
        <a href="http://www.dirtyoldempire.com/" target="_blank">Dirty Old Empire</a><br />
        <a href="http://www.mmv-auris.hr/" target="_blank">MMV-Auris</a><br />
        <a href="https://www.facebook.com/nisamtapir/" target="_blank">Nisam Tapir.</a><br /><!--  -->
        <a href="http://www.carnet.hr/" target="_blank">CARNet</a><br />
        <a href="http://www.kst.org.rs/" target="_blank">Klub Studenata Tehnike</a><br />
      </p>
    </div>

</aside>




{% endblock %}
