{% extends 'program.html' %}

{% block leftcolumn %}

<div class="item">

  <div class="icontent">

    {% if form.errors.query %}
      <h1>Error:</h1> <p class="error">{{ form.errors.query }}</p>
    {% endif %}

    <h1>Vijesti</h1>
    {% if news %}
      <table class="archive-table">
        {% for item in news %}

        <tr>
          <td style="width:90px">{{ item.created_at|date:"d.m.Y." }} </td>
          <td><a href="{% url 'news_slug' item.slug %}">{{ item.subject }}</a></td>
        </tr>

        {% endfor %}
      </table>
    {% else %}
      <p>Nijedna vijest nije pronađena.</p>
    {% endif %}


    <h1>Program</h1>
    {% if events %}
      <table class="archive-table">
        {% for event in events %}

        <tr>
          <td style="width:90px">{{ event.date|date:"d.m.Y." }} </td>
         <td><a href="{% url 'event_slug' event.slug %}">{{ event.title }}</a></td>
        </tr>

        {% endfor %}
      </table>
    {% else %}
      <p>Nijedan događaj nije pronađen.</p>
    {% endif %}

  </div>

</div>

{% endblock %}
