{% extends 'index.html' %}

{% load fb_versions %}

{% block content %}


<div id="left" class="left-column club-left">
  {% block subpage_content %}
  {% endblock subpage_content %}

</div>

<div id="right" class="right-column club-right" >

  <div id="right-col2-klub" class="right-column-col2-klub right-subcolumn-club">

    <img src="{{ STATIC_URL }}/images/kset-logo-black.svg"/>
    <p class="kset-opened-text"><em>... prvi put otvorio vrata 1976.</em></p>

    <h3 class="right-box-title">Informacije</h3>
    <table>
      <tr>
        <td> <strong>mail:</strong>
        </td>
        <td>
          <a href="mailto:info!at!kset.org">info@kset.org</a>
          <br />
          <a href="mailto:booking!at!kset.org">booking@kset.org</a>
        </td>
      </tr>
      <tr>
        <td> <strong>adr:</strong>
        </td>
        <td>Unska 3, 10000 Zagreb</td>
      </tr>
      <tr>
        <td>
          <strong>tel:</strong>
        </td>
        <td>+385 1 6129 758</td>
      </tr>
      <tr>
        <td>
          <strong>gdje?!</strong>
        </td>
        <td>
          <a href="https://www.google.com/maps/place/KSET/@45.8015025,15.9711053,17z/data=!4m2!3m1!1s0x4765d6f150cf2ccd:0xda86ab7b9573d6c8?hl=en">GoogleMaps</a>
          <br />
          <a href="http://osm.org/go/0Ismj9JZ0--" target="blank">OpenStreetMap</a>
        </td>
      </tr>
      <tr>
        <td>
          <strong>logotip:</strong>
        </td>
        <td>
          <a href="{{ STATIC_URL }}images/KSETlogo.zip">logotip.zip</a>
        </td>
      </tr>
    </table>

    <h3 class="right-box-title">Voditelji</h3>

    {% include "partials/leaders.html" %}

    <h3 class="right-box-title">"Vrijedi do sutra ..."</h3>

    <a href="{% url 'subpage_alumni' %}">
      <img src="{{ STATIC_URL }}frontend/images/alumni_link.png" alt="alumni" />
    </a>

  </div>

  <div id="right-col1-klub" class="right-column-col1-klub right-subcolumn-club">

    <h3 class="right-box-title">Sekcije</h3>

    <div class="cellmenu">
      {% for division in divisions %}
        <a href="{% url 'subpage_division' division=division.id %}" style="background-image: url('{{ division.logo }}');">
        <div class="text">{{ division.name }}</div>
      </a>
      {% endfor %}
      <div class="clearfix"></div>
    </div>

    <h3 class="right-box-title">Projekti</h3>

    <div class="cellmenu">
      {% for project in projects %}
      <a href="{% url 'subpage_project' project=project.id %}" style="background-image: url('{{ project.logo }}');">
        <div class="text">{{ project.name }}</div>
      </a>
      {% endfor %}
      <div class="clearfix"></div>
    </div>

  </div>

</div>

{% endblock %}
