{% extends 'index.html' %}

{% load fb_versions %}

{% block content %}


<div id="left" class="left-column club-left">
  {% block subpage_content %}
  {% endblock subpage_content %}

</div>

<div id="right" class="right-column club-right" >

  <div id="right-col2-klub" class="right-column-col2-klub">

    <img src="{{ STATIC_URL }}frontend/images/kset_logo2.png" style="margin-top:10px;"/>
    <p><i>... prvi put otvorio vrata 1976.</i></p>

    <h1>
      <span class="orange">//&nbsp;</span>
      Informacije
    </h1>
    <table>
      <tr>
        <td> <b>mail:</b>
        </td>
        <td>
          <a href="mailto:info!at!kset.org">info@kset.org</a>
          <br />
          <a href="mailto:booking!at!kset.org">booking@kset.org</a>
        </td>
      </tr>
      <tr>
        <td> <b>adr:</b>
        </td>
        <td>Unska 3, 10000 Zagreb</td>
      </tr>
      <tr>
        <td>
          <b>tel:</b>
        </td>
        <td>+385 1 6129 758</td>
      </tr>
      <tr>
        <td>
          <b>gdje?!</b>
        </td>
        <td>
          <a href="https://maps.google.com/maps?q=Zagreb+Unska+3&hl=en&sll=45.801616,15.971576&sspn=0.001034,0.002642&hnear=Unska+ulica+3,+10000,+Zagreb,+Croatia&t=m&z=16">GoogleMaps</a>
          <br />
          <a href="http://osm.org/go/0Ismj9JZ0--" target="blank">OpenStreetMap</a>
        </td>
      </tr>
      <tr>
        <td>
          <b>logotip:</b>
        </td>
        <td>
          <a href="{{ STATIC_URL }}images/KSETlogo.zip">logotip.zip</a>
        </td>
      </tr>
    </table>

    <div class="vsep"></div>

    <h1>
      <span class="orange">//&nbsp;</span>
      Voditelji
    </h1>
    {% include "partials/leaders.html" %}
    <div class="vsep"></div>

    <h1>
      <span class="orange">//&nbsp;</span> <i>"Vrijedi do sutra ..."</i>
    </h1>

    <a href="{% url 'subpage_alumni' %}">
      <img src="{{ STATIC_URL }}frontend/images/alumni_link.png" alt="alumni" />
    </a>

  </div>

  <div id="right-col1-klub" class="right-column-col1-klub">

    <h1>
      <span class="orange">//&nbsp;</span>
      Sekcije
    </h1>

    <div class="cellmenu">
      {% for division in divisions %}
        <a href="{% url 'subpage_division' division=division.id %}" style="background-image: url('{{ division.logo }}');">
        <div class="text">{{ division.name }}</div>
      </a>
      {% endfor %}
    </div>

    <div class="vsep"></div>

    <h1>
      <span class="orange">//&nbsp;</span>
      Projekti
    </h1>

    <div class="cellmenu">
      {% for project in projects %}
      <a href="{% url 'subpage_project' project=project.id %}" style="background-image: url('{{ project.logo }}');">
        <div class="text">{{ project.name }}</div>
      </a>
      {% endfor %}
    </div>


    <div class="clearfix"></div>

  </div>

</div>

{% endblock %}
