{% extends 'index.html' %}
{% load fb_versions %}

{%block extrahead %}
<meta property="og:title" content="{{ album_title }} - {{ date }}" />
<meta property="og:description" content="Copyright by: {{ photographer }}" />
<meta property="og:image" content="{% version image.upload_path 'gallerytb' %}" />
{% endblock %}

{% block content %}
<section id="gallery-album">

    <header>
        <div class="album-title">
          <div class="gumb"><h2><a href="/gallery/{{ category }}"></a></h2></div>
          <span><h2>{{ album_title }} - {{ date }}</h2></span>
        </div>


        <div class="album-info">
            {{ description|safe }}
          <p class="album-author">Copyright by: {% if photographer.url %}<a href='{{ photographer.url }}'>{{ photographer.name }}</a>{% else %}{{ photographer.name }}{% endif %}</p>
        </div>
    </header>



  <section id="m-slike" class="clearfix">
    {% for image in images %}

    <article class="m-slika">
      <a href="{% version image.upload_path 'galleryimage' %}" rel="lightbox[setofimagesinalbum]" title=":: {{ forloop.counter }}/{{ images.count }} :: Copyright {% if image.photographer.url %}<a href='{{ image.photographer.url }}'>{{ image.photographer.name }}</a>{% else %}{{ image.photographer.name }}{% endif %} :: {{ image.caption|default:"" }}">
        <div class="slika">
          <img src="{% version image.upload_path 'gallerytb' %}" />
        </div>

        {% if image.caption %}
          <div class="info">
            <p>{{ image.caption|default:"" }}</p>
          </div>
        {% endif %}

      </a>
    </article>
    {% endfor %}

  </section>

</section>

{% endblock %}

