{% extends 'index.html' %}
{% load fb_versions %}
  
{% block content %}
    
    <div id="album-info">
      <div class="gumb"><h2><a href="/gallery/{{ category }}">&lt;&lt;</a></h2></div>  
      <span><h2>{{ album_title }}</h2></span>
    </div>


    <div id="left"><h3>Info: {{ description|safe }}</h3></div>

  
  <div id="m-slike">  
    {% for image in images %}

    <div class="m-slika">
      <a href="{% version image.upload_path 'galleryimage' %}" rel="lightbox[setofimagesinalbum]" data-lbcap=":: Copyright {{ photographer }} :: {{ image.caption|default:"" }}">
        <div class="slika">
          <img src="{% version image.upload_path 'gallerytb' %}" />
        </div>
        <div class="info">
          <h3>Copyright {{ photographer }}</h3>
        </div>
      </a>
    </div>
    {% endfor %}
     
    <div class="clear"></div>
  </div>
  

{% endblock %}

