{% load fb_versions %}

<div id="header-scroll">
  <div id="header-scrollbar"></div>
  <div id="header-scroll-viewport">

    {% for event in header_events %}
    <div class="item" id="event-{{ forloop.counter0 }}">

      {% if event.thumb %}
        <a href="/dogadaj/{{ event.slug }}"><img src="{% version event.thumb 'fb_thumb' %}" class="scroll-thumb" /></a>
      {% endif %}

      <div class="item-top">

        <span class="date">{{ event.date|date:"d" }}.</span>
        <a href="{% url event-slug event.slug %}" title="{{ event.title }}">
            {{ event.title }}
        </a>
      </div>

      <div class="item-bottom">
        <div class="date">{{ event.date|date:"D"}}</div>
        <span class="tags">
          {% if event.tags|length < 22 %}
            {{ event.tags }}
          {% else %}
            {{ event.tags|stringformat:".22s" }}...
          {% endif %}
        </span>
        {% if event.price %} &mdash; {{ event.price }} {% endif %}
        {% if event.time %} &mdash; od {{ event.time|time:"H" }}h {% endif %}
      </div>

    </div>
    {% endfor %}

  </div>


  <div id="header-scroll-arrows">
    <a href="javascript:header_scroll_up()">&uarr;</a>
    <a href="javascript:header_scroll_down()">&darr;</a>
  </div>

</div>
