{% extends 'index.html' %}

{% block content %}


<div id="right">
  <h1><span class="orange">&raquo;</span> Galerija </h1>
  <a href="/gallery/"><img src="/media/images/design/fotogalerija.jpg" /></a>
  <h1><span class="orange">&raquo;</span> Kratki filmovi</h1>
</div>


<div id="left">

  <h1>Live video stream</h1>

  <!-- 720x576 : 468x374.4 --> 

  <video controls width="468" height="374">
    <source src="http://zaphod.kset.org:8000/consume/streamatkset" type="video/webm">
    Your browser does not support the <code>video</code> element.
  </video>

  <p></p>

</div>

{% endblock %} 
