{% extends 'program.html' %}

{% load fb_versions %}

{% block extrahead %}
<meta property="og:title" content="{{ news.subject }}" />
<meta property="og:description" content="www.kset.org" />
<meta property="og:image" content="{% if news.thumb %}{% version news.thumb 'medium' %}{% endif %}" />
{% endblock %}


{% block leftcolumn %}

<div class="item">

  <h1 class="single-title">{{ news.subject }}</h1>

  <div class="single-thumb">
    {% if news.thumb %}
      <img src="{% version news.thumb 'big' %}"  class="thumb" />
    {% endif %}
    <h3>{{ news.publish|date:"l, d. F Y." }}</h3>
  </div>

  <div class="icontent">
    {{ news.description|safe }}

    {{ news.content|safe }}

    <div class="ifooter"></div>

  </div>

</div>

{% endblock %}
