
{% load fb_versions %}

<html>

  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  </head>

  <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
  
    <!--CONTAINER-->
    <table width="570" cellpadding="10" cellspacing="0" class="backgroundTable" bgcolor='#f76100'>
      <tr>
	<td valign="top" align="center">

	  <!--HEADER-->
	  <table width="550" cellpadding="0" cellspacing="0"> 
	    
	    <!--WARNING-->
	    <tr>
	      <td style="background-color:#FFFFCC; text-align:center;" align="center">
		<span style="font-size:10px; color:#996600; line-height:200%; font-family:verdana; text-decoration:none;">
		  Newsletter Vam se dobro ne prikazuje? Uf :/ Posjetite www.kset.org/newsletter/
		</span>
	      </td>
	    </tr>
 
	    <!--KSET_LOGO-->
	    <tr>

	      <td style="background-color:#FFFFFF">
		<center>
		  <a href="http://www.kset.org">
		    <IMG SRC="http://www.kset.org/media/images/newsletter/header.png" BORDER="0" title="www.kset.org" align="center">
		  </a>
		</center>
	      </td>

	    </tr>
	  </table>

	  <table width="550" cellpadding="0" cellspacing="0">
	    <tr>
	      <td style="background-color:#FFFFCC; text-align:center;" align="center">
		<span style="font-size:10px; color:#996600; line-height:200%; font-family:verdana; text-decoration:none;">
		  Program kluba od <b>{{ fromDate|date:"d.m.Y." }}</b> do <b>{{ tillDate|date:"d.m.Y." }}</b>
		</span>
	      </td>

	    </tr>
	  </table>

	  <!--CONTENT-->
	  <table width="550" cellpadding="8" cellspacing="0" bgcolor="#FFFFFF">

<!-- ---------- -->
{% for event in events %}
	    <tr>

	      <!--ITEM IMAGE-->
	      <td width="30">
	      {% if event.thumb %}
		  <IMG SRC="{% version event.thumb 'small' %}" BORDER="0" float="left">
	      {% endif %}
	      </td>

	      <!--TITLE-->
	      <td>
		<a href="{% url event-slug event.slug %}" style="text-decoration:none">
		  <span style="font-size:20px; font-weight:bold; color:#CC6600; font-family:arial; line-height:110%;">{{ event.title }}</span>
		</a>
		<br />
		<span style="font-size:11px; font-weight:normal; color:#666666; font-family:arial;">
		  {{ event.date|date:"l, d.m.Y." }}
		</span>

		<br />
	      </td>

	    </tr>
	
	    <!--TEXT-->
	    <tr>
	      <td colspan="2" bgcolor="#FFFFFF" valign="top" style="font-size:12px; color:#000000; line-height:150%; font-family:trebuchet ms; border-bottom:1px solid black;">
		{{ event.content|safe }}
	      </td>
	    </tr>

{% endfor %}
<!-- ---------- -->

	    <!--FOOTER-->

	    <tr>
	      <td colspan="2" style="background-color:#FFFFCC;" align="center" valign="top">
		<span style="font-size:10px;color:#996600; line-height:100%; font-family:verdana;">Klub Studenata ElektroTehnike</span>
	      </td>
	    </tr>
	
	  </table>
      
	</td>
      </tr>
      
    </table>
    
  </body>
</html>
