{% extends 'program.html' %}

{% load fb_versions %}

{% block leftcolumn %}

{% if events %}
<div id="announce">
  <h3><span class="orange">&raquo;&nbsp;</span>Posebno najavljujemo!</h3>

  {% for event in events %}
    <a href="{% url event-slug event.slug %}" style="background-image: url({% version event.thumb 'thumbnail' %}); background-postion: center;">
      <div class="date">{{ event.date|date:"d.m. l" }}</div>
      <div class="text">{{ event.title|truncatewords_html:"5"}}</div>
    </a>
  {% endfor %}

</div>
{% endif %}

{% if latest %}
<div id="announce">
  <h3><span class="orange">&raquo;&nbsp;</span>Najnovije iz galerije:</h3>

  {% for a in latest %}
    <a href="/gallery/live/{{ a.slug }}" style="background-image: url({% version a.thumb 'thumbnail' %}); background-postion: center;">
      <div class="date">Fotograf: {{ a.photographer }}</div>
      <div class="text">{{ a.title }}</div>
    </a>
  {% endfor %}

</div>
{% endif %}


<div class="news-box dnevni">

  <h1 class="news-header">Dnevni program</h1>

  {% for item in events %}

    <div class="news-item news-item-{{ forloop.counter0 }} {% cycle 'odd' 'even' %}">


      {% if item.description %}

        <div class="icontent">

          {% if item.thumb %}
            <img src="{% version item.thumb 'big' %}"  class="thumb" />
          {% endif %}

          <h2>{{ item.title }}</h2>

          <h3>{{ item.date|date:"l, d. F Y." }}</h3>

          {{ item.description|safe }}

          <div id="{{ item.slug }}" style="display:none;">
            {{ item.content|safe }}
          </div>

        </div>

        {% if item.content %}
          <a id="link-{{ item.slug }}" href="javascript:flip_element_by_id('{{ item.slug }}')" class="readmore">opširnije ...</a>
        {% endif %}

      {% else %}

        <div class="icontent">
          {% if item.thumb %}
            <img src="{% version item.thumb 'medium' %}" class="thumb" />
          {% endif %}

          {{ item.content|safe }}
        </div>
      {% endif %}

      <div class="ifooter">
      </div>

    </div>

  {% endfor %}
  <div class="clear"></div>

</div>

<div class="news-box nocni">

  <h1 class="news-header">Noćni program</h1>

  {% for item in events %}

    <div class="news-item news-item-{{ forloop.counter0 }} {% cycle 'odd' 'even' %}">


      {% if item.description %}

        <div class="icontent">

          {% if item.thumb %}
            <img src="{% version item.thumb 'big' %}"  class="thumb" />
          {% endif %}

          <h2>{{ item.title }}</h2>

          <h3>{{ item.date|date:"l, d. F Y." }}</h3>

          {{ item.description|safe }}

          <div id="{{ item.slug }}" style="display:none;">
            {{ item.content|safe }}
          </div>

        </div>

        {% if item.content %}
          <a id="link-{{ item.slug }}" href="javascript:flip_element_by_id('{{ item.slug }}')" class="readmore">opširnije ...</a>
        {% endif %}

      {% else %}

        <div class="icontent">
          {% if item.thumb %}
            <img src="{% version item.thumb 'medium' %}" class="thumb" />
          {% endif %}

          {{ item.content|safe }}
        </div>
      {% endif %}

      <div class="ifooter">
      </div>

    </div>

  {% endfor %}
  <div class="clear"></div>

</div>

<div class="news-box vijesti">

  <h1 class="news-header">Vijesti</h1>

  {% for item in events %}

    <div class="news-item news-item-{{ forloop.counter0 }} {% cycle 'odd' 'even' %}">


      {% if item.description %}

        <div class="icontent">

          {% if item.thumb %}
            <img src="{% version item.thumb 'big' %}"  class="thumb" />
          {% endif %}

          <h2>{{ item.title }}</h2>

          <h3>{{ item.date|date:"l, d. F Y." }}</h3>

          {{ item.description|safe }}

          <div id="{{ item.slug }}" style="display:none;">
            {{ item.content|safe }}
          </div>

        </div>

        {% if item.content %}
          <a id="link-{{ item.slug }}" href="javascript:flip_element_by_id('{{ item.slug }}')" class="readmore">opširnije ...</a>
        {% endif %}

      {% else %}

        <div class="icontent">
          {% if item.thumb %}
            <img src="{% version item.thumb 'medium' %}" class="thumb" />
          {% endif %}

          {{ item.content|safe }}
        </div>
      {% endif %}

      <div class="ifooter">
      </div>

    </div>

  {% endfor %}
  <div class="clear"></div>

</div>


{% endblock %}