{% extends 'program.html' %}

{% load fb_versions %}

{% block extrahead %}
<meta property="og:title" content="{{ news.subject }}" />
<meta property="og:description" content="www.kset.org" />
<meta property="og:image" content="{% if news.thumb %}{% version news.thumb 'medium' %}{% endif %}" />
{% endblock %}


{% block leftcolumn %}

<div class="item">
  <h3><span class="orange">&raquo;&nbsp;</span>{{ news.publish|date:"l, d. F Y." }}</h3>
 
  <h1>{{ news.subject }}</h1>

  <div class="icontent">
    {% if news.thumb %}
      <img src="{% version news.thumb 'medium' %}"  class="thumb" />
    {% endif %}

    {{ news.description|safe }}

    {{ news.content|safe }}
    
    <div class="ifooter"></div> 

  </div>

</div>

{% endblock %}
