<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
  <head>
    <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF-8"> 
    <title>Foo</title> 
  </head> 
  <body> 

{% for cv in cvs %}
<h1>###### Zivotopis #{{ forloop.counter }}</h1>
<table>

  {% for item in cv %}
  <tr>
    <td>{% cycle 'Ime :' 'Prezime :' 'Adresa prebivališta ' 'Adresa Boravišta :' 'E-mail :' 'Web :' 'Godina Rođenja :' 'Broje telefona :' 'Broj mobitela :' 'Faktet :' 'Smjer/Godina :' 'Srednja škola :' 'Aktivnosti na fakultetu :' 'Dodatno školovanje:' 'Jezici :' 'Znanje/Vještine :' 'Radno iskustvo :' 'Ukratko o sebi :' 'Planirano vrijeme diplomiranja :' 'Preferirano posao :' 'Očekivanja :'  %}</td>
    <td>{{ item }}</td>
  </tr>
  {% endfor %}
</table>

{% endfor %}
</body>
</html>
