{% extends "subpage.html" %}
{% block subpage_content %}

<h1>Monografija 2^5</h1>

<p>
    <strong>Nije prvi put da se netko sjetio da bi bilo zgodno napraviti knjigu o KSET-u, ali je jedini puta do sada da se uspjelo dogurati do kraja...</strong>
</p>
<p>
    <strong>Monografija KSET-a na petstotrideset i šest (536!) ful kolor stranica</strong>, jedan od velikih projekata foto sekcije, na kojemu je čitavo foto-članstvo radilo gotovo tri godine, kako bi slikom i riječi obuhvatilo
    <strong>prve 32 godine najdražeg nam Kluba...</strong>
    <br />Knjiga o ksetovcima i svim njihovim malim i velikim pothvatima, zbog kojih je KSET postao i ostao nezaboravno mjesto kakvim ga svi znamo... sve što vidite oko sebe čim pređete prag, njihovih je ruku djelo; od uređenja prostora, organizacije koncerta kojeg slušate, izložbi koje vise... A ima tu još puno puno više toga sto se u KSET-u radi... Mi smo to samo sačuvali kako se ne bi zaboravilo, izgubilo: od ksetovaca za ksetovce.</p>
<p>Zavirite i pronađite sliku mame, tate, strica, tetke, sestre, brata, svoju... ili samo provjerite što se sve dešavalo u prostorima kotlovnice u prvih trideset i dvije godine njegova postojanja. I uživajte.</p>
<p>
    <img src="{{ STATIC_URL }}frontend/images/projects/monografija_cover_semibig.jpg" alt=""/>
</p>

{% endblock subpage_content %}