{% extends "subpage.html" %}

{% block subpage_content %}

<h1>Rally</h1>

<p>Za one koji ne znaju što je to Elektroplaninarski rally, to je događaj na kojem se natječu sudionici svih dobnih skupina(od brucoša do asistenata i profesora) kako bi otkrili tko je brži, bolji, kreativniji, izdržljiviji, tko može više pojesti...i sličnim stvarima....
    <br />Ekipe se sastoje od 4-10 natjecatelja a na samom Rally-u sudjeluje oko 200-tinjak natjecatelja + 50-ak organizatora koji se nalaze razbacani po stazi.</p>
<p>Što se same staze tiče, na njoj vas očekuju maštovita pitanja iz opće kulture, kentaura na stazi, te brojne igre koje zahtjevaju dobru volju i velike kapacitete...tete... tete...
    <br />U samu cijenu sudjelovanja je uključen prijevoz do starta, majica za svakog natjecatelja, hrana na sredini i na kraju staze, pivo, vino i sokovi koliko vam srce poželi ili pak dok sve ne popijete te prijevoz natrag u KSET, gdje je službena podijela diploma, nagrada, i mali after party.Uobičajen termin Rallya je kraj mjeseca svibnja. Odvija se svake godine, pa je tako ove godine (2015.)
    <strong>održan 39. po redu</strong>.</p>
<p>Sve detaljnije informacije se mogu na vrijeme saznati kod voditelja Planinarske sekcije (mobitel ili e-mail) te na šanku u KSET-u.Ako želite i dodatne informacije kako to izgleda sa stajališta samih natjecatelja, navratite na kavu/sok u klub i pitajte nekoga od članova kluba kako to izgleda.</p>

{% endblock subpage_content %}
